{% extends 'common/base.twig' %}

{# USER LOGIN COMPONENT #}
{% block body %}
<div class="auth-component flex justify-center items-center h-screen">
    <div class="max-w-md w-full bg-dark shadow-md px-4 py-6 mb-4 border border-gray-600 background-dark opacity-90 m-w-95">
        <h2 class="text-2xl mb-4 text-center text-white">Login</h2>
        
        {# EMPTY USER LIST ALERT BOX (FIRST USER REGISTER) #}
        {% if isUsersEmpty %}
            <div class="bg-red-700 text-white p-3 mb-4 rounded text-center">
                <p>Users table is empty Register now <a href={{ path('app_auth_register') }} class="text-blue-400 font-bold hover:text-blue-500">here</a></p>
            </div>
        {% endif %}

        {# SUCCESS MESSAGE BOX #}
        {% for message in app.flashes('success') %}
            <div class="bg-green-700 text-white p-3 mb-3 rounded text-center">{{ message|e }}</div>
        {% endfor %}

        {# ERROR MESSAGE BOX #}
        {% for message in app.flashes('error') %}
            <div class="bg-red-700 text-white p-3 mb-3 rounded text-center">{{ message|e  }}</div>
        {% endfor %}

        {# LOGIN FORM #}
        {{ form_start(loginForm) }}
        
            {# FORM FIELDS #}
            {{ form_row(loginForm.username, {'attr': {'class': 'auth-form-input', 'placeholder': 'Username'}}) }}
            {{ form_row(loginForm.password, {'attr': {'class': 'auth-form-input', 'placeholder': 'Password'}}) }}
            
            {# REMEMBER ME CHECKBOX #}
            <div class="flex items-center text-white mt-1 mb-1">
                <label for="login_form_remember" class="mr-1">Remember me</label>
                {{ form_widget(loginForm.remember, {'attr': {'class': 'rememberme-checkbox'}}) }}
            </div>

            {# FORM SUBMIT BUTTON #}
            <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white hover:text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Login</button>
        {{ form_end(loginForm) }}
    </div>
</div>
{% endblock %}
