{% extends 'common/base.twig' %}

{# USER REGISTER COMPONENT #}
{% block body %}
<div class="auth-component flex justify-center items-center h-screen">
	<div class="mt-5 max-w-md w-full px-6 py-6 mb-4 rounded-xl bg-black/20 backdrop-blur-md border border-white/10 shadow-2xl">
		<h2 class="text-3xl mb-6 text-center text-white font-semibold tracking-wide">Register</h2>

        {# SUCCESS MESSAGE BOX #}
        {% for message in app.flashes('success') %}
            <div class="bg-green-800 border border-green-600 text-white p-3 mb-2 rounded text-center animate-popin">{{ message|e }}</div>
        {% endfor %}

        {# ERROR MESSAGE BOX #}
        {% for message in app.flashes('error') %}
            <div class="bg-red-900 border border-red-500 text-white p-3 mb-3 rounded text-center animate-popin">{{ message|e }}</div>
        {% endfor %}

        {# REGISTER FORM #}
        {{ form_start(registrationForm) }}
            {# FORM FIELDS #}
            {{ form_row(registrationForm.username, {'attr': {'class': 'auth-form-input', 'placeholder': 'Username'}}) }}
            {{ form_row(registrationForm.password.first, {'attr': {'class': 'auth-form-input', 'placeholder': 'Password'}}) }}
            {{ form_row(registrationForm.password.second, {'attr': {'class': 'auth-form-input', 'placeholder': 'Confirm Password'}}) }}

            {# FORM SUBMIT BUTTON #}
            <button type="submit" class="bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-4 mt-2 mb-1 rounded-md w-full transition duration-300 ease-in-out hover:shadow-lg hover:shadow-blue-900">Register</button>
        {{ form_end(registrationForm) }}
        <p class="text-white ml-1">You can login <a class="text-blue-400 font-bold hover:text-blue-500" href={{ path('app_auth_login') }}>here</a></p>
    </div>
</div>
{% endblock %}
