{% extends 'common/layout.twig' %}

{# MONITPORING DASHBOARD #}
{% block component %}
<div class="users-manager component">
    {# SUB-NAVIGATION #}
    <div class="sub-navigation border-b border-neutral-800 text-white breadcrumb bg-gradient-to-b from-zinc-900/40 to-zinc-950/40 backdrop-blur supports-[backdrop-filter]:bg-zinc-900/50">
        {# BACK BUTTON #}
        <a href={{ path('app_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a> 

        {# LINK TO MONITORING STATUS DATABASE #}
        <a href={{ path('app_manager_database_table_browser', {'database': mainDatabase, 'table': monitoringStatusTable}) }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Go to unsorted logs">
            <i class="fa fa-database" aria-hidden="true"></i>
        </a>

        {# LINK TO METRICS DASHBOARD #}
        <a href={{ path('app_metrics_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Go to metrics dashboard">
            <i class="fa fa-chart-line" aria-hidden="true"></i>
        </a>

        {# CONFIG BUTTON #}
        <a href={{ path('app_manager_monitoring_config') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="View services config">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>

        {# COMPONENT TITLE #}
        {% if lastMonitoringTime != null %}
            <span class="mr-1 text-white">Last check time <span class="text-green-400">{{ lastMonitoringTime.get()|date('H:i:s') }}</span></span>
        {% else %}
            <span class="mr-1 text-white">Monitoring</span>
        {% endif %}
    </div>

    {# SERVICES STATUS LOG #}
    {% if monitoringLogs|length > 0 %}        
        <div class="grid grid-cols-1 sm:grid-cols-1 gap-1 p-2 pt-2 py-0 component">
            <div class="backdrop-blur-md bg-white/5 border border-white/20 shadow-md w-full sm:col-span-2 card-component rounded">
                <div class="px-2 py-2 border-b border-white/10 font-extrabold text-white">Status log</div>
                <div class="p-1 card-text" style="max-height: 200px; overflow-y: auto;">
                    {% for log in monitoringLogs %}
                        <p class="text-gray-200 text-lg">[{{ log.time|date('Y-m-d H:i:s') }}]: {{ log.message|e }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {# SERVICES STATUS CARDS #}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2 pt-2">
        {# SERVICES DASHBOARD CARD #}
        <div class="backdrop-blur-md bg-neutral-400/5 border border-white/15 shadow-lg overflow-hidden w-full max-h-50 card-component rounded">
            <div class="px-2 py-2 border-b border-white/15 text-white/80 font-bold">Internal services</div>
            <div class="p-1 overflow-y-auto h-70 mb-[-5px]">
                
                {# UFW SERVICE #}
                <div class="flex justify-between items-center bg-neutral-500/5 border border-white/10 rounded p-2 text-sm hover:bg-white/10 transition mb-[5px] mt-[2px] mr-[2px] ml-[2px]">
                    <div class="flex items-center space-x-2">
                        <span class="text-gray-300 font-semibold">UFW</span>
                        <span class="text-white ml-r">
                            {% if serviceManager.isUfwRunning() %}
                                <span class="phone-none">[<span class="text-green-500 font-bold">ONLINE</span>]</span>
                                <span class="text-green-500 phone-only"><i class="fas fa-circle"></i></span>
                            {% else %}
                                <span class="phone-none">[<span class="text-red-500 font-bold">OFFLINE</span>]</span>
                                <span class="text-red-500 phone-only"><i class="fas fa-circle"></i></span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="flex items-center space-x-1">
                        {% if serviceManager.isUfwRunning() %}
                            <a href={{ path('app_action_runner', {'service': 'ufw', 'action': 'reload', 'referer': 'app_manager_monitoring'}) }} class="bg-yellow-600 hover:bg-yellow-500 text-white px-3 py-1 rounded text-xs font-bold phone-none">Reload</a>
                            <a href={{ path('app_action_runner', {'service': 'ufw', 'action': 'disable', 'referer': 'app_manager_monitoring'}) }} class="bg-red-600 hover:bg-red-500 text-white px-3 py-1 rounded text-xs font-bold">Stop</a>
                        {% else %}
                            <a href={{ path('app_action_runner', {'service': 'ufw', 'action': 'enable', 'referer': 'app_manager_monitoring'}) }} class="bg-green-700 hover:bg-green-600 text-white px-3 py-1 rounded text-xs font-bold">Start</a>
                        {% endif %}
                    </div>
                </div> 

                {# SERVICES LIST #}
                {% for service in services %}
                    {% if service.display %}
                        {% if service.type == 'systemd' %}
                            {# SERVICE STATUS #}
                            {% set serviceStatus = serviceManager.isServiceRunning(service.service_name) %}

                            {# SERVICE ITEM #}
                            <div class="flex justify-between items-center bg-neutral-500/5 border border-white/10 rounded p-2 text-sm hover:bg-white/10 transition mb-[5px] mr-[2px] ml-[2px]">
                                <div class="flex items-center space-x-2">
                                    <span class="text-gray-300 font-semibold">{{ service.display_name|e }}</span>
                                    <span class="text-white ml-r">
                                        {% if serviceStatus %}
                                            <span class="phone-none">[<span class="text-green-500 font-bold">ONLINE</span>]</span>
                                            <span class="text-green-500 phone-only"><i class="fas fa-circle"></i></span>
                                        {% else %}
                                            <span class="phone-none">[<span class="text-red-500 font-bold">OFFLINE</span>]</span>
                                            <span class="text-red-500 phone-only"><i class="fas fa-circle"></i></span>
                                        {% endif %}
                                    </span>
                                    <span class="text-white ml-r">
                                        (SLA: {{ monitoringManager.getServiceMountlySLA(service.service_name) is not null ? monitoringManager.getServiceMountlySLA(service.service_name)|e ~ '%' : 'unknown' }})
                                    </span>
                                </div>
                                <div class="flex items-center space-x-1">
                                    {% if serviceStatus %}
                                        <a href={{ path('app_action_runner', {'service': service.service_name, 'action': 'restart', 'referer': 'app_manager_monitoring'}) }} class="bg-yellow-600 hover:bg-yellow-500 text-white px-3 py-1 rounded text-xs font-bold phone-none">Restart</a>
                                        <a href={{ path('app_action_runner', {'service': service.service_name, 'action': 'stop', 'referer': 'app_manager_monitoring'}) }} class="bg-red-600 hover:bg-red-500 text-white px-3 py-1 rounded text-xs font-bold">Stop</a>
                                    {% else %}
                                        <a href={{ path('app_action_runner', {'service': service.service_name, 'action': 'start', 'referer': 'app_manager_monitoring'}) }} class="bg-green-700 hover:bg-green-600 text-white px-3 py-1 rounded text-xs font-bold">Start</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {# SERVICES DASHBOARD CARD #}
        <div class="backdrop-blur-md bg-neutral-400/5 border border-white/15 shadow-lg overflow-hidden w-full max-h-50 card-component rounded">
            <div class="px-2 py-2 border-b border-white/15 text-white/80 font-bold">
                HTTP services
                <a href={{ path('app_metrics_services_all') }} class="text-blue-500 hover:text-blue-300" title="View metrics">
                    <i class="fa fa-chart-line border-neutral-500 border p-1 rounded" aria-hidden="true"></i>
                </a>
            </div>
            <div class="p-1 overflow-y-auto h-50">

                {# SERVICES LIST #}
                {% for service in services %}
                    {% if service.display %}
                        {% if service.type == 'http' %}
                            
                            {# SERVICE STATUS #}
                            {% set serviceStatus = serviceManager.checkWebsiteStatus(service.url) %}

                            {# SERVICE ITEM #}
                            <div class="flex justify-between items-center bg-neutral-500/5 border border-white/10 rounded p-2 text-sm hover:bg-white/10 transition mb-[5px] mr-[2px] ml-[2px] mt-[2px]">
                                <div class="flex items-center space-x-2">
                                    <span class="text-gray-300 font-semibold">{{ service.display_name|e }}</span>
                                    <span class="text-white ml-r">
                                        {% if serviceStatus.responseCode in service.accept_codes %}
                                            <span class="phone-none">[<span class="text-green-500 font-bold">ONLINE</span>]</span>
                                            <span class="text-green-500 phone-only"><i class="fas fa-circle"></i></span>
                                        {% else %}
                                            <span class="phone-none">[<span class="text-red-500 font-bold">OFFLINE</span>]</span>
                                            <span class="text-red-500 phone-only"><i class="fas fa-circle"></i></span>
                                        {% endif %}
                                    </span>
                                    <span class="text-white ml-r">
                                        (SLA: {{ monitoringManager.getServiceMountlySLA(service.service_name) is not null ? monitoringManager.getServiceMountlySLA(service.service_name)|e ~ '%' : 'unknown' }})
                                    </span>
                                    {% if service.metrics_monitoring.collect_metrics == true %}
                                        <a href={{ path('app_metrics_service', {'service_name': service.service_name}) }} class="text-blue-500 hover:text-blue-300 bg-neutral-800" title="View metrics">
                                            <i class="fa fa-chart-line border-neutral-500 border p-1 rounded" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {# SLA HISTORY CARD #}
    {% if slaHistory|length > 0 %}
        <div class="grid grid-cols-1 sm:grid-cols-1 gap-1 p-2 pt-1 mb-4 py-0 component">
                <div class="backdrop-blur-md bg-white/5 border border-white/20 shadow-lg overflow-hidden w-full card-component rounded">
                    <div class="px-2 py-2 border-b border-white/10 text-white/80 font-extrabold flex items-center justify-between">
                    <span>SLA History</span>
                    <a href={{ path('app_manager_monitoring_export_slahistory') }} id="loading-blocker" class="text-indigo-400 hover:text-indigo-300" title="Export SLA History">Export</a>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                    {% for service, slaData in slaHistory %}
                        <div class="service-card bg-neutral-800 w-full">
                            <div class="px-2 py-1 bg-neutral-900/10 border border-white/10">
                                <h3 class="text-white text-xl font-semibold">{{ service|e }}</h3>
                            </div>
                            <table class="w-full text-gray-200">
                                <thead>
                                    <tr class="bg-white/1 border border-white/10">
                                        <th class="p-2 border-r border-neutral-700">Timeframe</th>
                                        <th class="p-2">SLA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for month, sla in slaData %}
                                        <tr class="bg-white/1 hover:bg-neutral-700 border border-neutral-700">
                                            <td class="p-2 border-r border-neutral-700">{{ month }}</td>
                                            {% if sla < 99 %}
                                                <td class="p-2 text-red-500">{{ sla|e }}%</td>
                                            {% else %}
                                                <td class="p-2 text-green-500">{{ sla|e }}%</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
