{% extends 'common/layout.twig' %}

{# SERVICES CONFIG OVERVIEW #}
{% block component %} 
<div class="users-manager component">
    {# SUB-NAVIGATION #}
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb">
        {# BACK BUTTON #}
        <a href={{ path('app_manager_monitoring') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to monitoring dashboard">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <span class="mr-1 text-white">Services config</span>
    </div>

    {# SERVICES CONFIG #}
    <div class="text-white p-2">
        {% for service in services %}
            {% if service.type == 'systemd' %}
                <div class="mb-2 bg-gray-800 shadow-md border border-neutral-600 card-color rounded">
                    <h2 class="px-2 py-2 border-b border-neutral-600 text-white font-bold">{{ service.display_name|e }}</h2>
                    <div class="grid grid-cols-2 gap-2 p-2">
                        <p><span class="font-semibold">Service Name:</span> {{ service.service_name|e }}</p>
                        <p><span class="font-semibold">Display Name:</span> {{ service.display_name|e }}</p>
                        <p><span class="font-semibold">Type:</span> {{ service.type|e }}</p>
                        <p><span class="font-semibold">Display:</span> {{ service.display|e ? 'Yes' : 'No' }}</p>
                    </div>
                </div>
            {% elseif service.type == 'http' %}
                <div class="mb-2 bg-gray-800 shadow-md border border-neutral-600 card-color rounded">
                    <h2 class="px-2 py-2 border-b border-neutral-600 text-white font-bold">{{ service.display_name|e }}</h2>
                    <div class="grid grid-cols-2 gap-2 p-2">
                        <p><span class="font-semibold">Service Name:</span> {{ service.service_name|e }}</p>
                        <p><span class="font-semibold">Display Name:</span> {{ service.display_name|e }}</p>
                        <p><span class="font-semibold">URL:</span> <a href={{ service.url|e }} class="text-blue-400 hover:underline">{{ service.url|e }}</a></p>
                        <p><span class="font-semibold">Accept Codes:</span> {{ service.accept_codes|join(', ') }}</p>
                        <p><span class="font-semibold">Max Response Time:</span> {{ service.max_response_time|e }}</p>
                        <p><span class="font-semibold">Type:</span> {{ service.type|e }}</p>
                        <p><span class="font-semibold">Display:</span> {{ service.display|e ? 'Yes' : 'No' }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
