{% extends 'common/layout.twig' %}

{# DATABASE BROWSER COMPONENT - TABLE DATA BROWSER #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb p-4">
    <a href={{ path('app_manager_database', {'database': databaseName}) }} class="border border-gray-600 font-bold px-1 text-white">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <a href={{ path('app_manager_database_add', {'database': databaseName, 'table': tableName}) }} class="border border-gray-600 font-bold px-1 text-white ml-1">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">{{ tableName|e }}</span>
</div>

{# TABLE DATA #}
<div class="database-browser">
    <div class="mx-auto">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-neutral-900 text-white border-b border-neutral-700">
                <thead>
                    <tr>
                        {# TABLE HEADER #}
                        {% for column in tableData[0]|keys %}
                            <th class="text-left px-2 py-3 border-b border-neutral-700 text-left">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {# TABLE ROW #}
                    {% for row in tableData %}
                        <tr class="hover:bg-neutral-700">
                            {% for column in row %}
                                <td class="px-2 py-2 border-b border-neutral-700 text-left">{{ column }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# PAGINATION SYSTEM #}
    {% if tableDataCount > limitPerPage %}
        <div class="mt-2 flex justify-center mb-2">
            <div class="border border-neutral-600 rounded-lg overflow-hidden">
                <ul class="flex">
                    {% set totalPages = (tableDataCount / limitPerPage)|round(0, 'ceil') %}
                    {% set previousPage = currentPage > 1 ? currentPage - 1 : 1 %}
                    {% set nextPage = currentPage < totalPages ? currentPage + 1 : totalPages %}
                    {% set startPage = max(currentPage - 2, 1) %}
                    {% set endPage = min(currentPage + 2, totalPages) %}
                    
                    <li>
                        <a href={{ currentPage > 1 ? path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName, 'page': previousPage}) : '#' }} 
                        class="block px-4 py-2 text-white {{ currentPage == 1 ? 'cursor-not-allowed opacity-50' : 'hover:bg-neutral-800' }}" 
                        {% if currentPage == 1 %} onclick="return false;" {% endif %}>
                            Previous
                        </a>
                    </li>
                    {% for page in startPage..endPage %}
                        <li>
                            <a href={{ path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName, 'page': page}) }}
                            class="block px-4 py-2 text-white {{ page == currentPage ? 'bg-neutral-800' : 'hover:bg-neutral-800' }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href={{ currentPage < totalPages ? path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName, 'page': nextPage}) : '#' }}
                        class="block px-4 py-2 text-white {{ currentPage == totalPages ? 'cursor-not-allowed opacity-50' : 'hover:bg-neutral-800' }}" 
                        {% if currentPage == totalPages %} onclick="return false;" {% endif %}>
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
