{% extends 'common/layout.twig' %}

{# DATABASE BROWSER COMPONENT - TABLE DATA BROWSER #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb p-4">
    <a href={{ path('app_manager_database', {'database': databaseName}) }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to database browser">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <a href={{ path('app_manager_database_add', {'database': databaseName, 'table': tableName}) }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Add new record to table">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <a href={{ path('app_manager_database_truncate', {'database': databaseName, 'table': tableName}) }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Drop all records from table">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">{{ tableName|e }}</span>
</div>

{# TABLE DATA #}
<div class="database-browser component">
    <div class="mx-auto">
        <div class="overflow-x-auto">
            {% if tableData|length == 0 %}
                <p class="flex items-center justify-center mt-20 mb-20 text-2xl text-white font-bold">
                    No records found
                </p>
            {% else %}
                <table class="min-w-full bg-neutral-900 text-white border-b border-neutral-700">
                    <thead>
                        <tr>
                            {# TABLE HEADER #}
                            {% for column in tableData[0]|keys %}
                                <th class="text-left px-2 py-2 border-b border-neutral-700 text-left">{{ column }}</th>
                            {% endfor %}

                            {# EDIT AND DELETE BUTTONS #}
                            {% if 'id' in tableData[0]|keys %}
                                <th class="text-left px-2 py-2 border-b border-neutral-700 text-left">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </th>
                                <th class="text-left px-2 py-2 border-b border-neutral-700 text-left">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {# TABLE ROW #}
                        {% for row in tableData %}
                            <tr class="hover:bg-neutral-700">
                                {% for column in row %}
                                    <td class="px-2 py-2 border-b border-neutral-700 text-left">{{ column }}</td>
                                {% endfor %}

                                {# EDIT AND DELETE BUTTONS #}
                                {% if row.id|default(null) is not null %}
                                    <td class="px-2 py-2 border-b border-neutral-700 text-left">
                                        <a href={{ path('app_manager_database_edit', {'database': databaseName, 'table': tableName, 'page': currentPage, 'id': row.id}) }} class="text-yellow-400 hover:text-yellow-300" title="Edit record">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td class="px-2 py-2 border-b border-neutral-700 text-left">
                                        <a href={{ path('app_manager_database_delete', {'database': databaseName, 'table': tableName, 'page': currentPage, 'id': row.id}) }} class="text-red-500 hover:text-red-400" title="Delete record">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    {# PAGINATION SYSTEM #}
    {% if tableDataCount > limitPerPage %}
        <div class="mt-2 flex justify-center mb-2">
            <div class="border border-neutral-600 rounded overflow-hidden">
                <ul class="flex">
                    {% set totalPages = (tableDataCount / limitPerPage)|round(0, 'ceil') %}
                    {% set previousPage = currentPage > 1 ? currentPage - 1 : 1 %}
                    {% set nextPage = currentPage < totalPages ? currentPage + 1 : totalPages %}
                    {% set startPage = max(currentPage - 2, 1) %}
                    {% set endPage = min(currentPage + 2, totalPages) %}
                    
                    <li>
                        <a href={{ currentPage > 1 ? path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName, 'page': previousPage}) : '#' }} 
                        class="block px-4 py-2 text-white {{ currentPage == 1 ? 'cursor-not-allowed opacity-50' : 'hover:bg-neutral-800' }}" 
                        {% if currentPage == 1 %} onclick="return false;" {% endif %}>
                            Previous
                        </a>
                    </li>
                    {% for page in startPage..endPage %}
                        <li>
                            <a href={{ path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName, 'page': page}) }}
                            class="block px-4 py-2 text-white {{ page == currentPage ? 'bg-neutral-800' : 'hover:bg-neutral-800' }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href={{ currentPage < totalPages ? path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName, 'page': nextPage}) : '#' }}
                        class="block px-4 py-2 text-white {{ currentPage == totalPages ? 'cursor-not-allowed opacity-50' : 'hover:bg-neutral-800' }}" 
                        {% if currentPage == totalPages %} onclick="return false;" {% endif %}>
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
