{% extends 'common/base.twig' %}

{# MAIN ADMIN COMPONENT LAYOUT #}
{% block body %}
    {# REDIRECT TO ERROR PAGE IF JAVASCRIPT IS DISABLED #}
    <noscript>
        <meta http-equiv="refresh" content="0; URL='{{ path('app_error_by_code', {code: '426'}) }}'" />
    </noscript>

    {# PROFILE IMAGE VIEW #}
    <div id="profile-modal" class="fixed inset-0 bg-black/70 hidden items-center justify-center z-50">
        <div class="relative bg-zinc-900 rounded max-w-md w-full border border-white/15 m-2 animate-popin">
            <div class="px-4 py-[-5s0px] border-b border-white/10 font-semibold tracking-wide text-sm uppercase text-white/80 flex items-center gap-2">
                <span class="mb-2 mt-2">Profile picture</span>
                <button id="close-profile-modal" class="absolute top-0 right-2 text-white text-4xl leading-none hover:text-red-400">&times;</button>
            </div>
            {% if getUserData().getProfilePic == 'default_pic' %}
                <img class="w-full h-auto rounded-b" src={{ asset('/assets/images/default-profile.jpg') }} alt="profile picture">
            {% else %}
                <img class="w-full h-auto rounded-b" src="data:image/jpeg;base64,{{ getUserData().getProfilePic|e }}" alt="profile picture">
            {% endif %}
        </div>
    </div>

    {# LOADER COMPONENT #}
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    
    {# MAIN NAVBAR #}
    {% include 'element/navigation.twig' %}

    {# SIDEBAR #}
    {% include "element/sidebar.twig" %}
    
    {# MAIN COMPONENT INIT #}
    <main id="main-content" class="md:active">
        {% block component %}{% endblock %}
    </main>

    {# SIDEBAR TOGGLE SCRIPT #}
    {{ encore_entry_script_tags('sidebar-element-js') }}

    {# DEFAUTL TOGGLE SIDEBAR ON NON MOBILE DEVICES #}
    {% if app.request.attributes.get('_route') == 'app_dashboard' %}
        <script>
            const sidebar = document.getElementById('sidebar');
            const mainContent = document.getElementById('main-content');
            if (window.innerWidth > 400) {
                sidebar.classList.add('active');
                mainContent.classList.add('active');
            }
        </script>
    {% endif %}

    {# REGISTER JAVASCRIPT ASSETS #}
    {{ encore_entry_script_tags('loading-component-js') }}
    {{ encore_entry_script_tags('notification-subscriberr-js') }}
    {{ encore_entry_script_tags('profile-photo-view-toggle-js') }}
{% endblock %}
