{% extends 'common/layout.twig' %}

{# METRICS-DASHBOARD COMPONENT #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb">
    <a href={{ path('app_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>

    {# LINK TO MONITORING #}
    <a href={{ path('app_manager_monitoring') }} class="border border-neutral-600 font-bold px-1 py-0 rounded ml-1 text-white" title="Go to monitoring">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </a>

    {# METRICS TIME PERIOD SELECTOR #}
    <span class="mr-1"></span>
    <span >
        <label for="time-period">Time period:</label>
        <select id="time-period" onchange="updateTimePeriod()" class="bg-neutral-800 text-white border border-neutral-600 rounded">
            <option value="last_24_hours" selected>Last 24 hours</option>
            <option value="last_week">Last week</option>
            <option value="last_month">Last month</option>
            <option value="all_time">All time</option>
        </select>

        <script>
            // update time period in url
            function updateTimePeriod() {
                const select = document.getElementById('time-period');
                const selectedValue = select.value;
                window.location.search = `?time_period=${selectedValue}`;
            }

            // select selecton value from url
            function setSelectedValue() {
                const urlParams = new URLSearchParams(window.location.search);
                const timePeriod = urlParams.get('time_period');
                const select = document.getElementById('time-period');

                // set selected value
                if (timePeriod) {
                    select.value = timePeriod;
                }
            }

            // init select value
            window.onload = setSelectedValue;
        </script>
    </span>
</div>

{# METRICS-CHARTS #}
<div class="p-2 space-y-2 metrics-component">
    {% for metricName, metricData in data.metrics %}
        <div class="flex flex-col md:flex-row gap-2">
            <div class="flex-1 p-0 border border-neutral-600 shadow-lg card-color rounded relative chart-container">
                <div class="px-3 py-2 border-b border-neutral-600 text-white font-bold text-sm flex items-center justify-between">
                    {{ metricName | replace({'_': ' '}) | capitalize }}
                    <a href={{ path('app_metrics_delete', {'service_name': 'host-system', 'metric_name': metricName}) }} class="text-indigo-400 hover:text-indigo-300 text-l">delete</a>
                </div>
                <div id="{{ (metricName ~ '-' ~ 'default')|replace({'.': '_', ' ': '_'}) }}-line"></div>
            </div>
        </div>
    {% endfor %}
</div>

{# SEND METRICS DATA TO CHARTS JS #}
<script>
    window.metricsData = {{ { categories: data.categories, metrics: data.metrics, serviceName: 'host-system', percentage: true } | json_encode | raw }};
</script>

{# INCLUDE CHARTS SCRIPT #}
{{ encore_entry_script_tags('metrics-charts-js') }}
{% endblock %}
