{% extends 'common/layout.twig' %}

{# ACCOUNT SETTING CHANGE PASSWORD #}
{% block component %}
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation">
        <a href="{{ path('app_account_settings_table') }}" class="border border-neutral-500 font-bold px-1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <span class="mr-1">Password settings</span>
    </div>

    {# REGISTER FORM #}
    <div class="flex justify-center items-center mt-10 mb-10">
        <div class="text-white max-w-md w-full bg-dark shadow-md px-4 py-4 mb-1 border border-gray-600 m-w-95">
            <h2 class="text-2xl mb-4 text-center text-white">Change Password</h2>
    
            {# register success message box #}
            {% for message in app.flashes('success') %}
                <div class="bg-green-700 text-white p-3 mb-3 rounded text-center">{{ message|e }}</div>
            {% endfor %}
    
            {# register error message box #}
            {% for message in app.flashes('error') %}
                <div class="bg-red-700 text-white p-3 mb-3 rounded text-center">{{ message|e }}</div>
            {% endfor %}
    
            {# register form #}
            {{ form_start(password_change_form) }}
    
                {# register form fields #}
                {{ form_row(password_change_form.password.first, {'attr': {'class': 'auth-form-input', 'placeholder': 'Password'}}) }}
                {{ form_row(password_change_form.password.second, {'attr': {'class': 'auth-form-input', 'placeholder': 'Confirm Password'}}) }}
    
                {# register form submit button #}
                <button type="submit" class="mt-2 mb-2 bg-blue-600 hover:bg-blue-700 text-white hover:text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Change</button>
            {{ form_end(password_change_form) }}
        </div>
    </div>
{% endblock %}
