{% extends 'common/layout.twig' %}

{# ACCOUNT SETTINGS TABLE COMPONENT #}
{% block component %}
{# SUB NAVIGATION #}
<div class="sub-navigation border-b border-neutral-800 sub-navigation text-white breadcrumb">
    <a href={{ path('app_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1">Account settings</span>
</div>

{# ACCOUNT SETTINGS TABLE #}
<div class="w-full flex justify-center">
    <div class="w-full max-w-3xl card-color shadow-lg p-4 md:mt-10 border border-neutral-800 account-settings phone-disable-border-top">
        <h2 class="text-xl font-semibold mb-4 text-white text-center">Account Settings</h2>
        <div class="space-y-6">

            {# PROFILE PICTURE SETTINGS COMPONENT #}
            <div class="bg-neutral-850 p-3 rounded flex items-center justify-between border border-neutral-800 hover:shadow-lg transition-shadow duration-300 transform">
                <div class="flex items-center space-x-4 w-1/3">
                    <div class="text-sm font-medium text-gray-100">Profile Image</div>
                </div>
                <div class="flex items-center justify-center flex-1">
                    {% if getUserData().getProfilePic == 'default_pic' %}
                        <img class="rounded-full h-10 w-10 object-cover" src={{ asset('/assets/images/default-profile.jpg') }} alt="profile picture">
                    {% else %}
                        <img class="rounded-full h-10 w-10 object-cover" src="data:image/jpeg;base64,{{ getUserData().getProfilePic|e }}" alt="profile picture">
                    {% endif %}
                </div>
                <div class="w-1/3 text-right">
                    <a href={{ path('app_account_settings_change_picture') }} class="font-bold text-indigo-400 hover:text-indigo-300 flex items-center justify-end space-x-1">
                        <i class="fas fa-edit"></i>
                        <span class="hidden md:inline">Change</span>
                    </a>
                </div>
            </div>

            {# USERNAME SETTINGS COMPONENT #}
            <div class="bg-neutral-850 p-3 rounded flex items-center justify-between border border-neutral-800 hover:shadow-lg transition-shadow duration-300 transform">
                <div class="flex items-center space-x-4 w-1/3">
                    <div class="text-sm font-medium text-gray-100">Username</div>
                </div>
                <div class="flex items-center justify-center flex-1 text-sm text-gray-200">
                    {{ getUserData().username|e }}
                </div>
                <div class="w-1/3 text-right">
                    <a href={{ path('app_account_settings_change_username') }} class="font-bold text-indigo-400 hover:text-indigo-300 flex items-center justify-end space-x-1">
                        <i class="fas fa-edit"></i>
                        <span class="hidden md:inline">Change</span>
                    </a>
                </div>
            </div>

            {# PASSWORD SETTINGS COMPONENT #}
            <div class="bg-neutral-850 p-3 rounded flex items-center justify-between border border-neutral-800 hover:shadow-lg transition-shadow duration-300 transform">
                <div class="flex items-center space-x-4 w-1/3">
                    <div class="text-sm font-medium text-gray-100">Password</div>
                </div>
                <div class="flex items-center justify-center flex-1 text-sm text-gray-200">
                    *********
                </div>
                <div class="w-1/3 text-right">
                    <a href={{ path('app_account_settings_change_password') }} class="font-bold text-indigo-400 hover:text-indigo-300 flex items-center justify-end space-x-1">
                        <i class="fas fa-edit"></i>
                        <span class="hidden md:inline">Change</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{# PUSH NOTIFICATIONS SETTINGS #}
{% if pushNotificationsEnabled != false %}
    <div class="w-full flex justify-center">
        <div class="w-full max-w-3xl card-color shadow-lg p-4 md:mt-5 border border-neutral-800 account-settings phone-disable-border-top">
            <h2 class="text-xl font-semibold mb-4 text-white text-center">Push notifications</h2>
            <div class="text-white">
                Subscription status: <span id="push-status" class="text-green-400">checking...</span>
            </div>
            <center>
                <button id="subscribe-btn" class="hidden mt-4 bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-700">Subscribe notifications</button>
            </center>
        </div>
    </div>
    {# REGISTER NOTIFICATIONS SETTINGS JAVASCRIPT #}
    {{ encore_entry_script_tags('notifications-settings-js') }}
{% endif %}
{% endblock %}
