{% extends 'common/layout.twig' %}

{% block component %} 
<div class="users-manager">
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation">
        {# GO TO RAW LOGS DATABASE #}
        <a href="#" class="border border-neutral-500 font-bold px-1 text-white">
            <i class="fa fa-database" aria-hidden="true"></i>
        </a>

        {# SET ALL LOGS READED #}
        <a href="#" class="border border-neutral-500 font-bold px-1 text-white">
            <i class="fa fa-check" aria-hidden="true"></i>
        </a>

        {# DELETE ALL LOGS #}
        <a href="#" class="border border-neutral-500 font-bold px-1 text-white">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>

        {# PAGE SUBTITLE #}
        <span class="mr-1 text-white">Logs: ({{ logsCount|e }})</span>
    </div>

    {# CHECK IF LOGS NOT EMPTY #}
    {% if logsCount < 1 %}
        <p class="flex items-center justify-center mt-20 mb-20 text-2xl text-white font-bold">No relative logs were found</p>
    {% else %}
        {# LOG VIEW TABLE #}
        <div class="bg-neutral-900 border-b border-neutral-700 overflow-x-auto">
            <table class="min-w-full divide-y divide-white whitespace-nowrap">
                <thead>
                    <tr class="hover:bg-neutral-800 border-b border-neutral-600">
                        <th class="text-left text-white p-1">#</th>
                        <th class="text-left text-white p-1">Name</th>
                        <th class="text-left text-white p-1">Message</th>
                        <th class="text-left text-white p-1">Time</th>
                        <th class="text-left text-white p-1">Browser</th>
                        <th class="text-left text-white p-1">IP Address</th>
                        <th class="text-left text-white p-1">User</th>
                        <th class="text-left text-white p-1"><i class="fa fa-check" aria-hidden="true"></th>
                        <th class="text-left text-white p-1"><i class="fa fa-trash" aria-hidden="true"></th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-white font-medium">
                    {# LOG ROW #}
                    {% for row in logs %}
                        <tr class="hover:bg-neutral-800 border-b border-neutral-600">
                            {# LOG DATA #}
                            <td class="text-white p-1 border-b border-neutral-600">{{ row.id|e }}</td>
                            <td class="text-white p-1 border-b border-neutral-600">{{ row.name|e }}</td>
                            <td class="text-white p-1 border-b border-neutral-600">{{ row.message|e }}</td>
                            <td class="text-white p-1 border-b border-neutral-600">{{ row.time|date('Y-m-d H:i:s')|e }}</td>
                            <td class="text-white p-1 border-b border-neutral-600">{{ visitorInfoUtil.getBrowserShortify(row.userAgent)|e }}</td>
                            <td class="text-white p-1 border-b border-neutral-600">{{ row.ipAdderss|e }}</td>
                            <td class="text-white p-1 border-b border-neutral-600">{{ userManager.getUsernameById(row.userId)|e }}</td>

                            {# SET LOG READED STATUS LINK #}
                            <td class="text-white p-1 border-b border-neutral-600">
                                <a href="#" class="ban-button"><i class="fa fa-check" aria-hidden="true"></i></a>
                            </td>

                            {# LOG DELETE LINK #}
                            <td class="text-white p-1 border-b border-neutral-600">
                                <a href="#" class="delete-button">X</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    {% endif %}
</div> 
{% endblock %}
