{% extends 'common/layout.twig' %} 

{# TODO LIST COMPONENT #}
{% block component %} 
<div class="users-manager flex flex-col todo-manager overflow-hidden breadcrumb component">
    {# SUB-NAVIGATION #}
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation flex-none">
        {# BACK BUTTON #}
        <a href={{ path('app_dashboard') }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        {# STATUS FILTER LINK #}
        {% if filter == 'closed' %}            
            <a href={{ path('app_todo_manager', {'filter': 'open'}) }} class="ml-1 border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="View open todos">
                <i class="fa fa-tasks" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href={{ path('app_todo_manager', {'filter': 'closed'}) }} class="ml-1 border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="View closed todos">
                <i class="fa fa-check" aria-hidden="true"></i>
            </a>
        {% endif %}
        <span class="mr-1 text-white">Todo list</span>
    </div>

    {# INCLIUDE CREATE TODO FORM #}
    {% if filter == 'open' %}
        {% include "component/todo-manager/form/create-todo-form.twig" %}
    {% endif %}

    {# TODO LIST #}
    <div class="flex-1 overflow-y-auto card-component p-0 px-2">
        <div class="divide-y divide-neutral-700">

            {# TODO LIST IS EMPTY INFORMATION #}
            {% if todos|length == 0 %}
                <p class="flex items-center justify-center mt-10 mb-20 text-2xl text-white font-bold">This todo list is empty</p>
            {% endif %}

            {# TODO ITEM #}
            {% for todo in todos %}
                <div class="flex items-center justify-between p-3 my-2 rounded-lg bg-neutral-800 hover:bg-neutral-700 transition-colors duration-200" data-todo-id="{{ todo.id }}">
                    <div class="flex-grow">
                        <span class="text-white whitespace-pre-wrap break-words">{{ todo.todoText|e|linkify }}</span>
                    </div>
                    <div class="flex space-x-2 ml-1">
                        {% if filter == 'open' %}
                            <button data-todo-id="{{ todo.id }}" data-todo-text="{{ todo.todoText }}" class="ml-1 text-neutral-400 text-xl hover:text-white focus:outline-none">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <a href={{ path('app_todo_manager_close', {'id': todo.id}) }} class="text-green-500 text-xl hover:text-green-200 focus:outline-none mr-0.5">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a href={{ path('app_todo_manager_delete', {'id': todo.id}) }} class="text-red-500 text-xl hover:text-red-200 focus:outline-none mr-0.5">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>                    
            {% endfor %}
        </div>
    </div>
</div>

{# TODO EDIT POPUP OVERLAY #}
<div id="editPopup" class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center hidden">
    <div class="bg-neutral-900 rounded-lg p-6 border border-neutral-700 w-full max-w-md">
        <h2 class="text-lg font-bold mb-4 text-white">Edit Todo</h2>
        <input type="text" id="editTodoInput" class="bg-neutral-800 text-white w-full p-3 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="New todo text" maxlength="255">
        <div class="flex justify-end mt-4 space-x-2">
            <button id="cancelEditButton" class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-500">Cancel</button>
            <button id="confirmEditButton" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-500">Save</button>
        </div>
    </div>
</div>

{# POPUP FUNCTIONS #}
{{ encore_entry_script_tags('todo-manager-js') }}
{% endblock %}
