<div class="card-color bg-neutral-900 border border-neutral-700 shadow-lg rounded w-full">
    <div class="px-3 py-2 border-b border-neutral-700 text-white font-bold text-sm flex items-center justify-between">
        <span>Database statistics</span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {# SECTION: LOGS #}
        <div class="col-span-2 text-white font-semibold text-sm border-b border-neutral-700 p-1 pl-3 flex items-center justify-between">
            <span>Logs</span>
            <a href={{ path('app_manager_logs') }} class="pr-1 text-indigo-400 hover:text-indigo-300 text-xs" title="Go to logs">View All</a>
        </div>
        <div class="grid grid-cols-2 gap-x-4 col-span-2 p-3 pt-0 pb-0 mb-[-10px] mt-[-5px]">
            <div>
                <p class="text-gray-300 mb-1">
                    Logs count: <span class="text-white font-semibold">{{ allLogsCount|e }}</span>
                </p>
            </div>
            <div>
                <p class="text-gray-300 mb-1">
                    Auth logs: <span class="text-white font-semibold">{{ authLogsCount|e }}</span>
                </p>
            </div>
            <div>
                <p class="text-gray-300 mb-1">
                    Readed: <span class="text-white font-semibold">{{ readedLogsCount|e }}</span>
                </p>
            </div>
            <div>
                <p class="text-gray-300 mb-1">
                    Unreaded: <span class="text-white font-semibold">{{ unreadedLogsCount|e }}</span>
                </p>
            </div>
        </div>

        {# SECTION: USERS #}
        <div class="col-span-2 text-white font-semibold text-sm border-b border-t border-neutral-700 p-1 pl-3 flex items-center justify-between">
            <span>Users</span>
            <a href={{ path('app_manager_users') }} class="pr-1 text-indigo-400 hover:text-indigo-300 text-xs" title="Go to users manager">View All</a>
        </div>
        <div class="grid grid-cols-2 gap-x-4 col-span-2 p-3 pt-0 pb-1 mt-[-5px]">
            <div>
                <p class="text-gray-300 mb-1">
                    Users count: <span class="text-white font-semibold">{{ usersCount|e }}</span>
                </p>
            </div>
            <div>
                <p class="text-gray-300 mb-1">
                    Online: <span class="text-white font-semibold">
                        {{ onlineUsersCount|e }} (<a href="{{ path('app_manager_users', {'filter': 'online'}) }}" class="text-blue-400 hover:text-blue-300">list</a>)
                    </span>
                </p>
            </div>
            <div class="col-span-2">
                <p class="text-gray-300 mb-1">
                    Banned: <span class="text-white font-semibold">
                        {{ bannedUsersCount|e }} (<a href="{{ path('app_manager_users', {'filter': 'banned'}) }}" class="text-blue-400 hover:text-blue-300">list</a>)
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
