<div class="card-color bg-neutral-900 border border-neutral-600 shadow-lg rounded w-full">
    <div class="px-3 py-2 border-b border-neutral-600 text-white font-bold text-sm flex items-center justify-between">
        <span>Logs</span>
        <a href={{ path('app_manager_logs') }} class="text-indigo-400 hover:text-indigo-300 text-xs" title="Go to logs">View All</a>
    </div>
    <div class="p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            {# LOGS COUNT #}
            <div>
                <p class="text-gray-300 mb-1">
                    Logs count: <span class="text-white font-semibold">{{ allLogsCount|e }}</span>
                </p>
            </div>
            {# AUTH LOGS COUNT #}
            <div>
                <p class="text-gray-300 mb-1">
                    Auth logs: <span class="text-white font-semibold">{{ authLogsCount|e }}</span>
                </p>
            </div>
            {# READED LOGS COUNT #}
            <div>
                <p class="text-gray-300 mb-1">
                    Readed: <span class="text-white font-semibold">{{ readedLogsCount|e }}</span>
                </p>
            </div>
            {# UNREADED LOGS COUNT #}
            <div>
                <p class="text-gray-300 mb-1">
                    Unreaded: <span class="text-white font-semibold">{{ unreadedLogsCount|e }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
