<div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full">
    <div class="px-3 py-1 border-b border-neutral-500 font-extrabold text-white">Logs [<a href={{ path('app_manager_logs') }} class="card-rederer">log manager</a>]</div>
    <div class="p-3">
        <div class="flex mb-2">
            <div class="w-1/2 pr-4">
                <p class="text-gray-300 mb-1">Logs count: <span class="text-white">{{ allLogsCount|e }}</span></p>
            </div>
            <div class="w-1/2">
                <p class="text-gray-300 mb-1">Auth logs: <span class="text-white">{{ authLogsCount|e }}</span></p>
            </div>
        </div>
        <div class="flex">
            <div class="w-1/2 pr-4">
                <p class="text-gray-300 mb-1">Readed: <span class="text-white">{{ readedLogsCount|e }}</span></p>
            </div>
            <div class="w-1/2">
                <p class="text-gray-300 mb-1">Unreaded: <span class="text-white">{{ unreadedLogsCount|e }}</span></p>
            </div>
        </div>
    </div>
</div>
