<div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full">
    <div class="px-2 py-2 border-b border-neutral-500 font-extrabold text-white">System resources</div>
    <div class="p-3">
        <p class="text-white mb-1">CPU: {{ diagnosticData.cpuUsage }}%</p>
        <div class="progress-bar">
            <div class="progress" style="width: {{ diagnosticData.cpuUsage }}%;"></div>
        </div>
        <p class="text-white mb-1">RAM: ({{ ramUsage.used }}G / {{ diagnosticData.ramUsage }}%)</p>
        <div class="progress-bar">
            <div class="progress" style="width: {{ diagnosticData.ramUsage }}%;"></div>
        </div>
        <p class="text-white mb-1">DISK: ({{ diskUsage }}G / {{ diagnosticData.driveSpace }}%)</p>
        <div class="progress-bar">
            <div class="progress" style="width: {{ diagnosticData.driveSpace }}%;"></div>
        </div>
    </div>
</div>
