<div class="card-color border border-neutral-600 shadow-lg rounded overflow-hidden w-full">
    <div class="px-3 py-2 border-b border-neutral-600 text-white font-bold text-sm">
        System Information
    </div>
    <div class="p-3 pl-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-1">
            {# HOST UPTIME #}
            <div class="flex flex-col">
                <p class="text-gray-300 mb-1">Uptime</p>
                <p class="text-white font-medium">{{ hostUptime|e }}</p>
            </div>
            {# HOST SYSTEM #}
            <div class="flex flex-col">
                <p class="text-gray-300 mb-1">System</p>
                <p class="text-white font-medium">
                    {{ hostSystemInfo.operating_system|split('"')[1]|trim('" NAME')|e }}
                </p>
            </div>
            {# HOST KERNEL #}
            <div class="flex flex-col">
                <p class="text-gray-300 mb-1">Kernel</p>
                <p class="text-white font-medium">{{ hostSystemInfo.kernel_version|e }}</p>
            </div>
            {# HOST ARCHITECTURE #}
            <div class="flex flex-col">
                <p class="text-gray-300 mb-1">Architecture</p>
                <p class="text-white font-medium">{{ hostSystemInfo.kernel_arch|e }}</p>
            </div>
            {# INSTALLATION TIME #}
            <div class="flex flex-col">
                <p class="text-gray-300 mb-1">Installation time</p>
                <p class="text-white font-medium">{{ systemInstallInfo|e }}</p>
            </div>
        </div>
    </div>
</div>
