<div class="bg-neutral-900 border border-gray-600 shadow-md card-color w-full">
    <div class="px-3 py-1 border-b border-gray-600 font-extrabold text-white">
        <a href={{ path('app_manager_users') }} class="card-rederer">Users</a>
    </div>
    <div class="p-3">
        <div class="flex mb-2">
            <div class="w-1/2 pr-4">
                <p class="text-gray-300 mb-1">Users count: <span class="text-white">{{ usersCount|e }}</span></p>
            </div>
            <div class="w-1/2">
                <p class="text-gray-300 mb-1">Online: <span class="text-white">{{ onlineUsersCount|e }} (<a href={{ path('app_manager_users', {'filter': 'online'}) }} class="link">list</a>)</span></p>
            </div>
        </div>
        <div class="flex">
            <div class="w-1/2 pr-4">
                <p class="text-gray-300 mb-1">Banned: <span class="text-white">{{ bannedUsersCount|e }}  (<a href={{ path('app_manager_users', {'filter': 'banned'}) }} class="link">list</a>)</span></p>
            </div>
        </div>
    </div>
</div>
