<div class="bg-neutral-900 border border-neutral-700 rounded shadow-md card-color w-full sm:col-span-2" id="wrarning-box">
    <div class="px-3 py-2 border-b border-neutral-700 text-white font-bold text-sm flex items-center justify-between">
        <a href={{ path('app_diagnostic') }} class="card-rederer text-sm" title="Go to diagnostic">
            Diagnostic alerts
        </a>
        <button onclick="document.getElementById('wrarning-box').style.display='none'" class="text-white hover:text-cyan-300 transition-colors duration-200 cursor-pointer">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="p-2 card-text" id="wraning-elements">
        {# CHECK IF EXCEPTION FILES IS FOUND #}
        {% if exceptionFiles|length > 0 %} 
            <p class="text-yellow-400">Exception found in monitored application <a href={{ path('app_manager_logs_exception_files') }}  class="link">view</a></p>
        {% endif %}

        {# ANGLOG STATUS ALERT #}
        {% if antiLogStatus == false %}
            <p class="text-yellow-400">Logging for your browser is enabled you can disable <a href={{ path('app_anti_log_enable', {'state': 'enable'}) }} class="link">here</a></p>
        {% endif %}

        {# LOGS COUNT ALERT #}
        {% if unreadedLogsCount > 0 %}
            <p class="text-yellow-400">New logs found you can see it <a href={{ path('app_manager_logs') }} class="link">here</a></p>
        {% endif %}

        {# MONITORING TIME CACHE EXPIRED ALERT #}
        {% if diagnosticData.isLastMonitoringTimeCached == false %}
            <p class="text-red-400">Monitroing time is expired, maybe process is stuck, please check it.</p>
        {% endif %}

        {# NOT INSTALLED REQUIREMENTS ALERT #}
        {% if diagnosticData.notInstalledRequirements|length > 0 %}
            <p class="text-red-400">Not found requirements: {{ diagnosticData.notInstalledRequirements|join(', ')|e }}.</p>
        {% endif %}

        {# DEV MODE ALERT #}
        {% if diagnosticData.isDevMode %}
            <p class="text-red-400">developer mode is enabled, please set APP_ENV=prod in .env config file.</p>
        {% endif %}

        {# SSL ALERT #}
        {% if diagnosticData.isSSL == false %}
            <p class="text-red-400">session is running on http [non secure connction] please contact web admin for fix it.</p>
        {% endif %}

        {# WEB USER PERMISSIONS ALERT #}
        {% if diagnosticData.isWebUserSudo == false %}
            <p class="text-red-400">Permissions error: please add "{{ diagnosticData.webUsername|e }} ALL=NOPASSWD: ALL" to /etc/sudoers.</p>
        {% endif %}

        {# STORAGE SPACE ALERT #}
        {% if diagnosticData.driveSpace > 90 %}
            <p class="text-red-400"> main storage is full, please delete some unnecessary data or increase storage space.</p>
        {% endif %}

        {# CPU OVERLOAD ALERT #}
        {% if diagnosticData.cpuUsage > 98.00 %}
            <p class="text-red-400">CPU is overloaded, please check cpu usage.</p>
        {% endif %}

        {# RAM OVERLOAD ALERT #}
        {% if diagnosticData.ramUsage > 98.00 %}
            <p class="text-red-400">RAM Memory is overloaded, please check usage.</p>
        {% endif %}
    </div>
</div>
