{% extends 'common/layout.twig' %}

{# MAIN ADMIN-SUITE DASHBOARD #}
{% block component %} 
<div class="w-full dashbard-component">
    
    {# MAIN DASHBOARD CARDS #}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2">
        
        {# WARNINGS BOX CARD #}
        <div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full sm:col-span-2" id="wrarning-box">
            <div class="px-2 py-2 border-b border-neutral-500 font-extrabold text-white">Warnings [<a href={{ path('app_diagnostic') }} class="card-rederer">diagnostic</a>]</div>
            <div class="p-2 card-text" id="wraning-elements">

                {# ANGLOG STATUS ALERT #}
                {% if antiLogStatus == false %}
                    <p class="text-yellow-400">Logging for your browser is enabled you can disable <a href={{ path('app_anti_log_enable', {'state': 'enable'}) }} class="link">here</a></p>
                {% endif %}

                {# LOGS COUNT ALERT #}
                {% if unreadedLogsCount > 0 %}
                    <p class="text-yellow-400">New logs found you can see it <a href={{ path('app_manager_logs') }} class="link">here</a></p>
                {% endif %}

                {# NOT INSTALLED REQUIREMENTS ALERT #}
                {% if diagnosticData.notInstalledRequirements|length > 0 %}
                    <p class="text-red-400">Not found requirements: {{ diagnosticData.notInstalledRequirements|join(', ') }}.</p>
                {% endif %}

                {# DEV MODE ALERT #}
                {% if diagnosticData.isDevMode %}
                    <p class="text-red-400">developer mode is enabled, please set APP_ENV=prod in .env config file.</p>
                {% endif %}

                {# SSL ALERT #}
                {% if diagnosticData.isSSL == false %}
                    <p class="text-red-400">session is running on http [non secure connction] please contact web admin for fix it.</p>
                {% endif %}

                {# WEB USER PERMISSIONS ALERT #}
                {% if diagnosticData.isWebUserSudo == false %}
                    <p class="text-red-400">Permissions error: please add "{{ diagnosticData.webUsername }} ALL=NOPASSWD: ALL" to /etc/sudoers.</p>
                {% endif %}

                {# DISK SPACE ALERT #}
                {% if diagnosticData.driveSpace < 90 %}
                    <p class="text-red-400"> main disk storage is full, please delete some unnecessary data or increase disk space.</p>
                {% endif %}

                {# CPU OVERLOAD ALERT #}
                {% if diagnosticData.cpuUsage > 98.00 %}
                    <p class="text-red-400">CPU is overloaded, please check cpu usage.</p>
                {% endif %}

                {# RAM OVERLOAD ALERT #}
                {% if diagnosticData.ramUsage > 98.00 %}
                    <p class="text-red-400">RAM Memory is overloaded, please check usage.</p>
                {% endif %}
            </div>
        </div>

        {# SERVICES DASHBOARD CARD #}
        <div class="border border-gray-500 shadow-lg overflow-hidden w-full max-h-50 card-color card-component">
            <div class="px-2 py-2 border-b border-gray-500 text-white font-bold">Services [<a href={{ path('app_manager_monitoring') }} class="card-rederer">monitoring</a>]</div>
            <div class="p-1 overflow-y-auto h-60">
                
                {# UFW SERVICE #}
                <div class="hover:bg-neutral-800 flex justify-between items-center mb-1 bg-neutral-900 p-1 border border-gray-500">
                    <div class="flex items-center space-x-2">
                        <span class="text-gray-300 font-semibold">UFW</span>
                        <span class="text-white ml-r">
                            {% if serviceManager.isUfwRunning() %}
                                [<span class="text-green-500 font-bold">ONLINE</span>]
                            {% else %}
                                [<span class="text-red-500 font-bold">OFFLINE</span>]
                            {% endif %}
                        </span>
                    </div>
                    <div class="flex items-center space-x-1">
                        {% if serviceManager.isUfwRunning() %}
                            <a href={{ path('app_action_runner', {'service': 'ufw', 'action': 'reload', 'referer': 'app_dashboard'}) }} class="bg-yellow-600 hover:bg-yellow-500 text-white px-2 py-1 text-l font-bold">Reload</a>
                            <a href={{ path('app_action_runner', {'service': 'ufw', 'action': 'disable', 'referer': 'app_dashboard'}) }} class="bg-red-600 hover:bg-red-500 text-white px-2 py-1 text-l font-bold">Stop</a>
                        {% else %}
                            <a href={{ path('app_action_runner', {'service': 'ufw', 'action': 'enable', 'referer': 'app_dashboard'}) }} class="bg-green-600 hover:bg-green-500 text-white px-2 py-1 text-l font-bold">Start</a>
                        {% endif %}
                    </div>
                </div> 

                {# SERVICES LIST #}
                {% for service in services %}
                    {% if service.enable %}
                        <div class="hover:bg-neutral-800 flex justify-between items-center mb-1 bg-neutral-900 p-1 border border-gray-500">
                            <div class="flex items-center space-x-2">
                                <span class="text-gray-300 font-semibold">{{ service.display_name }}</span>
                                <span class="text-white ml-r">
                                    {% if service.type == 'systemd' %}   
                                        {% set serviceStatus = serviceManager.isServiceRunning(service.service_name) %}
                                    {% else %}
                                        {% set serviceStatus = serviceManager.checkWebsiteStatus(service.url) %}
                                    {% endif %}
                                    {% if serviceStatus %}
                                        [<span class="text-green-500 font-bold">ONLINE</span>]
                                    {% else %}
                                        [<span class="text-red-500 font-bold">OFFLINE</span>]
                                    {% endif %}
                                </span>
                            </div>
                            {% if service.type == 'systemd' %}                                
                                <div class="flex items-center space-x-1">
                                    {% if serviceStatus %}
                                        <a href={{ path('app_action_runner', {'service': service.service_name, 'action': 'restart', 'referer': 'app_dashboard'}) }} class="bg-yellow-600 hover:bg-yellow-500 text-white px-2 py-1 text-l font-bold">Restart</a>
                                        <a href={{ path('app_action_runner', {'service': service.service_name, 'action': 'stop', 'referer': 'app_dashboard'}) }} class="bg-red-600 hover:bg-red-500 text-white px-2 py-1 text-l font-bold">Stop</a>
                                    {% else %}
                                        <a href={{ path('app_action_runner', {'service': service.service_name, 'action': 'start', 'referer': 'app_dashboard'}) }} class="bg-green-600 hover:bg-green-500 text-white px-2 py-1 text-l font-bold">Start</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {# PROCESS LIST DASHBOARD CARD #}
        <div class="card-color border border-neutral-500 shadow-md overflow-hidden w-full max-h-50 card-component">
            <div class="px-2 py-2 border-b border-neutral-500 text-white font-bold">Process list</div>
            <div class="overflow-y-auto max-h-60">
                <table class="min-w-full divide-y divide-neutral-500 bg-neutral-900 text-white">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider">PID</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider">User</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider">Process</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-neutral-500 bg-neutral-800">
                        {% for process in processList %}
                        <tr class="hover:bg-neutral-700">
                            <td class="px-4 py-2 whitespace-nowrap text-sm font-bold">{{ process.pid }}</td>
                            <td class="px-4 py-2 whitespace-nowrap text-sm">{{ process.user }}</td>
                            <td class="px-4 py-2 whitespace-nowrap text-sm">{{ process.process }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# HOST SYSTEM INFO #}
        <div class="card-color border border-neutral-500 shadow-md overflow-hidden w-full">
            <div class="px-2 py-2 border-b border-neutral-500 text-white font-bold">System Information</div>
            <div class="p-3">
                <div class="flex mb-2">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Uptime</p>
                        <p class="text-white font-medium">{{ hostUptime }}</p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">System</p>
                        <p class="text-white font-medium">{{ hostSystemInfo.operating_system|split('=')[1]|trim('"') }}</p>
                    </div>
                </div>
                <div class="flex mb-2">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Kernel</p>
                        <p class="text-white font-medium">{{ hostSystemInfo.kernel_version }}</p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">Architecture</p>
                        <p class="text-white font-medium">{{ hostSystemInfo.kernel_arch }}</p>
                    </div>
                </div>
            </div>
        </div>

        {# HOST SYSTEM RESOURCES #}
        <div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full">
            <div class="px-2 py-2 border-b border-neutral-500 font-extrabold text-white">System resources</div>
            <div class="p-3">
                <p class="text-white mb-1">CPU: {{ diagnosticData.cpuUsage }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ diagnosticData.cpuUsage }}%;"></div>
                </div>
                <p class="text-white mb-1">RAM: ({{ ramUsage.used }}G / {{ diagnosticData.ramUsage }}%)</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ diagnosticData.ramUsage }}%;"></div>
                </div>
                <p class="text-white mb-1">DISK: ({{ diskUsage }}G / {{ diagnosticData.driveSpace }}%)</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ diagnosticData.driveSpace }}%;"></div>
                </div>
            </div>
        </div>

        {# LOGS INFO CARD #}
        <div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full">
            <div class="px-3 py-1 border-b border-neutral-500 font-extrabold text-white">Logs [<a href={{ path('app_manager_logs') }} class="card-rederer">log manager</a>]</div>
            <div class="p-3">
                <div class="flex mb-2">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Logs count: <span class="text-white">{{ allLogsCount }}</span></p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">Auth logs: <span class="text-white">{{ authLogsCount }}</span></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Readed: <span class="text-white">{{ readedLogsCount }}</span></p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">Unreaded: <span class="text-white">{{ unreadedLogsCount }}</span></p>
                    </div>
                </div>
            </div>
        </div>

        {# USERS INFO CARD #}
        <div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full">
            <div class="px-3 py-1 border-b border-neutral-500 font-extrabold text-white">Users [<a href={{ path('app_manager_users') }} class="card-rederer">user manager</a>]</div>
            <div class="p-3">
                <div class="flex mb-2">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Users count: <span class="text-white">{{ usersCount }}</span></p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">Online: <span class="text-white">{{ onlineUsersCount }} (<a href={{ path('app_manager_users', {'filter': 'online'}) }} class="link">list</a>)</span></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Banned: <span class="text-white">{{ bannedUsersCount }}  (<a href={{ path('app_manager_users', {'filter': 'banned'}) }} class="link">list</a>)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const divElement = document.getElementById('wrarning-box');
        const elements = document.getElementById('wraning-elements');
        if (elements.innerHTML.trim() === '') {
            divElement.style.display = 'none';
        } else {
            divElement.style.display = 'block';
        }
    });
</script>
{% endblock %}
