{% extends 'common/layout.twig' %}

{# MAIN ADMIN-SUITE DASHBOARD #}
{% block component %} 
<div class="w-full dashbard-component">
    
    {# MAIN DASHBOARD CARDS #}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2">
        
        {# WARNINGS BOX CARD #}
        <div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full sm:col-span-2" id="wrarning-box">
            <div class="px-4 py-3 border-b border-neutral-500 font-extrabold">Warnings</div>
            <div class="p-4 font-semibold" id="wraning-elements">

                {# ANGLOG STATUS ALERT #}
                {% if antiLogStatus == false %}
                    <p class="text-yellow-500">Logging for your browser is enabled you can disable <a href={{ path('app_anti_log_enable', {'state': 'enable'}) }} class="link">here</a></p>
                {% endif %}

                {# LOGS COUNT ALERT #}
                {% if logsCount > 0 %}
                    <p class="text-yellow-500">New logs found you can see it <a href={{ path('app_manager_logs') }} class="link">here</a></p>
                {% endif %}

                {# NOT INSTALLED REQUIREMENTS ALERT #}
                {% if diagnosticData.notInstalledRequirements|length > 0 %}
                    <p class="text-red-500">Not found requirements: {{ diagnosticData.notInstalledRequirements|join(', ') }}.</p>
                {% endif %}

                {# DEV MODE ALERT #}
                {% if diagnosticData.isDevMode %}
                    <p class="text-red-500">developer mode is enabled, please set APP_ENV=prod in .env config file.</p>
                {% endif %}

                {# SSL ALERT #}
                {% if diagnosticData.isSSL == false %}
                    <p class="text-red-500">session is running on http [non secure connction] please contact web admin for fix it.</p>
                {% endif %}

                {# WEB USER PERMISSIONS ALERT #}
                {% if diagnosticData.isWebUserSudo == false %}
                    <p class="text-red-500">Permissions error: please add "{{ diagnosticData.webUsername }} ALL=NOPASSWD: ALL" to /etc/sudoers.</p>
                {% endif %}

                {# DISK SPACE ALERT #}
                {% if diagnosticData.driveSpace < 90 %}
                    <p class="text-red-500"> main disk storage is full, please delete some unnecessary data or increase disk space.</p>
                {% endif %}

                {# CPU OVERLOAD ALERT #}
                {% if diagnosticData.cpuUsage > 98.00 %}
                    <p class="text-red-500">CPU is overloaded, please check cpu usage.</p>
                {% endif %}

                {# RAM OVERLOAD ALERT #}
                {% if diagnosticData.ramUsage > 98.00 %}
                    <p class="text-red-500">RAM Memory is overloaded, please check usage.</p>
                {% endif %}
            </div>
        </div>

        {# HOST SYSTEM INFO #}
        <div class="card-color border border-neutral-500 shadow-md overflow-hidden w-full">
            <div class="px-4 py-3 border-b border-neutral-500 text-white font-bold">System Information</div>
            <div class="p-4">
                <div class="flex mb-2">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Uptime</p>
                        <p class="text-white font-medium">{{ hostUptime }}</p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">System</p>
                        <p class="text-white font-medium">{{ hostSystemInfo.operating_system|split('=')[1]|trim('"') }}</p>
                    </div>
                </div>
                <div class="flex mb-2">
                    <div class="w-1/2 pr-4">
                        <p class="text-gray-300 mb-1">Kernel</p>
                        <p class="text-white font-medium">{{ hostSystemInfo.kernel_version }}</p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-gray-300 mb-1">Architecture</p>
                        <p class="text-white font-medium">{{ hostSystemInfo.kernel_arch }}</p>
                    </div>
                </div>
            </div>
        </div>

        {# HOST SYSTEM RESOURCES #}
        <div class="bg-neutral-900 border border-neutral-500 shadow-md card-color w-full">
            <div class="px-4 py-3 border-b border-neutral-500 font-extrabold">System resources</div>
            <div class="p-4">
                <p class="text-white mb-1">CPU: {{ diagnosticData.cpuUsage }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ diagnosticData.cpuUsage }}%;"></div>
                </div>
                <p class="text-white mb-1">RAM: {{ diagnosticData.ramUsage }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ diagnosticData.ramUsage }}%;"></div>
                </div>
                <p class="text-white mb-1">DISK: {{ diagnosticData.driveSpace }}%</p>
                <div class="progress-bar">
                    <div class="progress" style="width: {{ diagnosticData.driveSpace }}%;"></div>
                </div>
            </div>
        </div>
    </div>

    {# <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 p-0 p-2 mt-0">

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 3</h2>
            <p class="text-white mb-2">This is a sample description for the third card. It can contain any text or information.</p>
        </div>

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 4</h2>
            <p class="text-white mb-2">This is a sample description for the fourth card. It can contain any text or information.</p>
        </div>

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 5</h2>
            <p class="text-white mb-2">This is a sample description for the fifth card. It can contain any text or information.</p>
        </div>

    </div> #}
    
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const divElement = document.getElementById('wrarning-box');
        const elements = document.getElementById('wraning-elements');
        if (elements.innerHTML.trim() === '') {
            divElement.style.display = 'none';
        } else {
            divElement.style.display = 'block';
        }
    });
</script>
{% endblock %}
