{% extends 'common/layout.twig' %}

{# DATABASE BROWSER COMPONENT - EDIT ROW IN TABLE #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="sub-navigation border-b border-neutral-800 text-white breadcrumb bg-gradient-to-b from-zinc-900/40 to-zinc-950/40 backdrop-blur supports-[backdrop-filter]:bg-zinc-900/50">
    <a href={{ path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName}) }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to database table browser">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">{{ tableName|e }}</span>
</div>

{# ROW EDIT FORM #}
<div class="add-row-input mx-auto max-w-4xl p-3 shadow-lg backdrop-blur-md bg-white/10 border border-white/20 rounded disable-phone-border">
    <h2 class="text-2xl text-white mb-4 text-center">Edit row {{ id|e }} in {{ tableName|e }}</h2>

    {# ERROR BOX #}
    {% if errors is not empty %}
        <div class="bg-red-900 border border-red-500 rounded text-white p-4 mb-4 animate-popin">
            <h3 class="font-bold">There were some errors:</h3>
            <ul class="list-disc ml-5">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {# FORM INPUTS #}
    <form method="post" action={{ path('app_manager_database_edit', {'database': databaseName, 'table': tableName, 'id': id, 'page': page}) }}>
        <div class="space-y-4">
            {% for column in columns %}
                <div>
                    <label class="block text-gray-200 mb-1" for={{ column.COLUMN_NAME|e }}>{{ column.COLUMN_NAME|capitalize|e }}</label>
                    {% if column.COLUMN_TYPE == 'datetime' %}
                        <input 
                            class="form-input rounded w-full px-2 py-2 bg-white/10 text-white focus:outline-none focus:border-blue-500"
                            type="datetime-local"
                            name="{{ column.COLUMN_NAME|e }}"
                            id="{{ column.COLUMN_NAME|e }}"
                            value="{{ formData[column.COLUMN_NAME]|e }}"
                        >
                    {% else %}
                        <input 
                            class="form-input rounded w-full px-2 py-2 bg-white/10 text-white focus:outline-none focus:border-blue-500"
                            type="text"
                            name="{{ column.COLUMN_NAME|e }}"
                            id="{{ column.COLUMN_NAME|e }}"
                            value="{{ formData[column.COLUMN_NAME]|default('')|e }}"
                        >
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="mt-4 text-right">
            <button class="bg-blue-600 hover:bg-blue-600 text-white font-bold py-2 px-4 shadow rounded hover:shadow-lg hover:shadow-blue-900" type="submit">Update Row</button>
        </div>
    </form>
</div>
{% endblock %}
