{% extends 'common/layout.twig' %}

{# DATABASE BROWSER COMPONENT - TABLE TRUNCATE CONFIRMATION #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb p-4">
    <a href={{ path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName}) }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2" title="Back to database table browser">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">{{ tableName|e }}</span>
</div>

{# TABLE TRUNCATE CONFIRMATION #}
<div class="mt-8 mb-8 mx-auto max-w-lg p-4 card-color text-white shadow-lg border border-gray-600 rounded-lg">
    <h2 class="text-2xl font-semibold mb-4 text-center">Truncate table {{ tableName|e }}</h2>

    <p class="text-center mb-4">Are you sure you want to truncate the table <strong>{{ tableName|e }}</strong>?</p>

    <div class="flex justify-center space-x-2">
        {# SUBMIT BUTTON #}
        <a href={{ path('app_manager_database_truncate', {'database': databaseName, 'table': tableName, 'confirm': 'yes'}) }} class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow">YES</a>

        {# CANCEL BUTTON #}
        <a href={{ path('app_manager_database_table_browser', {'database': databaseName, 'table': tableName}) }} class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow">NO</a>
    </div>
</div>

{% endblock %}
