<aside id="sidebar" class="text-white md:active border-r border-gray-600">
    {# USER INFO #}
    <div class="flex flex-col items-center mb-2">
        {# PROFILE IMAGE #}
        <div class="profile-image mt-2">
            {% if user_data.getProfilePic == 'default_pic' %}
                <img class="rounded-md" src={{ asset('/build/images/default-profile.jpg') }} alt="profile picture">
            {% else %}
                <img class="rounded-md" src="data:image/jpeg;base64,{{ user_data.getProfilePic }}" alt="profile picture">
            {% endif %}
        </div>
        {# USERNAME #} 
        <div class="username font-bold text-xl">{{ user_data.username }}</div>

        {# USER ROLE #}
        <div class="role text-base">
            {% if is_admin %}
                <span class="text-red-500">{{ user_data.role|lower }}</span>
            {% else %}
                <span class="text-green-500">{{ user_data.role|lower }}</span>
            {% endif %}
        </div>
    </div>

    {# MENU LINKS #}
    <ul class="py-0 font-bold text-base">
        <li><a href="/dashboard" class="border-b border-gray-600 block py-1 px-1 hover:bg-cyan-900">
            <i class="fas fa-desktop mr-1"></i>Dashboard
        </a></li>
        <li><a href="/accounts" class="border-b border-gray-600 block py-1 px-1 hover:bg-cyan-900">
            <i class="fas fa-users mr-1"></i>Accounts
        </a></li>
    </ul>
</aside>
