{% extends 'common/base.html.twig' %}

{% block component %}
<div class="flex justify-center items-center h-screen">
    <div class="max-w-md w-full bg-dark shadow-md px-4 py-6 mb-4 border border-gray-600 background-dark opacity-90">

        <h2 class="text-2xl mb-4 text-center text-white">Login</h2>

        {% if is_users_empty %}
            <div class="bg-red-700 text-white p-3 mb-4 rounded text-center">
                <p>Users table is empty Register now <a href="/register" class="text-blue-400 font-bold hover:text-blue-500">here</a></p>
            </div>
        {% endif %}

        {% for message in app.flashes('error') %}
            <div class="bg-red-700 text-white p-3 mb-3 rounded text-center">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="bg-green-700 text-white p-3 mb-3 rounded text-center">{{ message }}</div>
        {% endfor %}

        {{ form_start(login_form) }}
        
        <p class="text-white mt-1">Username</p>
        {{ form_row(login_form.username, {'attr': {'class': 'auth-form-input'}}) }}

        <p class="text-white mt-1">Password</p>
        {{ form_row(login_form.password, {'attr': {'class': 'auth-form-input'}}) }}
        
        <div class="flex items-center text-white mt-1 mb-1">
            <label for="login_form_remember" class="mr-1">Remember me</label>
            {{ form_widget(login_form.remember, {'attr': {'class': 'rememberme-checkbox'}}) }}
        </div>

        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white hover:text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Login</button>
        
        {{ form_end(login_form) }}
    </div>
</div>
{% endblock %}
