{% extends 'common/base.html.twig' %}

{% block component %}
    {% for message in app.flashes('error') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(registration_form) }}
        {{ form_row(registration_form.username) }}
        {{ form_row(registration_form.password.first) }}
        {{ form_row(registration_form.password.second) }}

        <button>Register</button>
    {{ form_end(registration_form) }}
{% endblock %}
