{% extends 'common/base.html.twig' %}

{% block component %}
<div class="flex justify-center items-center h-screen">
    <div class="max-w-md w-full bg-dark shadow-md px-4 py-6 mb-4 border border-gray-600 background-dark opacity-90">

        <h2 class="text-2xl mb-4 text-center text-white">Register</h2>

        {% for message in app.flashes('error') %}
            <div class="bg-red-700 text-white p-3 mb-3 rounded text-center">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="bg-green-700 text-white p-3 mb-3 rounded text-center">{{ message }}</div>
        {% endfor %}

        {{ form_start(registration_form) }}
        
        <p class="text-white mt-1">Username</p>
        {{ form_row(registration_form.username, {'attr': {'class': 'auth-form-input'}}) }}

        <p class="text-white mt-1">Password</p>
        {{ form_row(registration_form.password.first, {'attr': {'class': 'auth-form-input'}}) }}
        
        <p class="text-white mt-1">Confirm Password</p>
        {{ form_row(registration_form.password.second, {'attr': {'class': 'auth-form-input'}}) }}

        <button type="submit" class="mt-2 bg-blue-600 hover:bg-blue-700 text-white hover:text-gray-200 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Register</button>
        
        {{ form_end(registration_form) }}
    </div>
</div>
{% endblock %}
