{% extends 'common/layout.twig' %}

{# FILE SYSTEM BROWSER COMPONENT - VIEW FILE #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-800 sub-navigation breadcrumb">
    {# GET DIRECTORY PATH #}
    {% set parts = currentPath|split('/') %}
    {% set directoryPath = parts|slice(0, parts|length - 1)|join('/') %}
    
    {# BACK BUTTON #}
    {% set referer = app.request.get('referer') %}
    {% if referer is empty %}
        {% set backPath = path('app_file_system_browser', { 'path': directoryPath }) %}
    {% elseif referer == 'log_manager_exception_files' %}
        {% set backPath = path('app_manager_logs_exception_files') %}
    {% elseif referer == 'log_manager_server_logs' %}
        {% set backPath = path('app_manager_logs_system') %}
    {% elseif referer == 'app_system_audit' %}
        {% set backPath = path('app_system_audit') %}
    {% else %}
        {% set backPath = path('app_file_system_browser', { 'path': directoryPath }) %}
    {% endif %}
    <a href={{ backPath }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to previous page">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    {% if referer == 'log_manager_exception_files' %}
        {% set service = app.request.get('service') %}
        <button class="delete-button border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" data-file={{ service }} title="Delete this exception file">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
    {% endif %}
    <span class="mr-1 text-white">{{ currentPath|split('/')|last }}</span>
</div>

{# FILESYSTEM BROWSER #}
<div class="component card-color">
    {# FILESYSTEM PATH BREADCRUMB #}
    <div class="p-1 card-color border-b border-neutral-800 shadow flex items-center space-x-2">
        <span class="text-sm font-medium text-gray-300">Path:</span>
        <span class="text-sm text-gray-100">
            {% set parts = currentPath|split('/') %}
            <a href={{ path('app_file_system_browser', { 'path': '/' }) }} class="text-blue-500 hover:underline">/base</a>
            {% set accumulatedPath = '' %}
            {% for part in parts|slice(0, parts|length - 1) %}
                {% if part is not empty %}
                    {% set accumulatedPath = accumulatedPath ~ '/' ~ part %}
                    <span>/</span>
                    <a href={{ path('app_file_system_browser', { 'path': accumulatedPath }) }} class="text-blue-500 hover:underline">{{ part }}</a>
                {% endif %}
            {% endfor %}
        </span>
    </div>

    {# FILE CONTENT VIEW #}
    <div class="card-color overflow-auto">
        {# RAW FILE CONTENT VIEW #}
        {% if mediaType == 'non-mediafile' or mediaType == null %}
            <pre class="text-sm text-cyan rounded overflow-auto p-1 text-green-400">{{ fileContent|e }}</pre>
        {% else %}
            {# IMAGE #}
            {% if mediaType starts with 'image/' %}
                <div class="flex justify-center items-center w-full h-auto mt-2 mb-4">
                    <img src={{ path('app_file_system_get_resource', { 'path': currentPath }) }}
                        alt={{ currentPath|e }}
                        class="max-w-full max-h-[500px] shadow-lg rounded-lg object-contain">
                </div>
            {# VIDEO #}
            {% elseif mediaType starts with 'video/' %}
                <div class="flex justify-center items-center w-full h-auto mt-2 mb-4">
                    <video controls class="max-w-full max-h-[500px] shadow-lg rounded-lg object-contain">
                        <source src={{ path('app_file_system_get_resource', { 'path': currentPath }) }} type={{ mediaType }}>
                        Your browser does not support the video tag.
                    </video>
                </div>
            {# AUDIO #}
            {% elseif mediaType starts with 'audio/' %}
                <audio controls class="w-full shadow-lg rounded-lg mt-2 mb-4">
                    <source src={{ path('app_file_system_get_resource', { 'path': currentPath }) }} type={{ mediaType }}>
                    Your browser does not support the audio tag.
                </audio>
            {% endif %}
        {% endif %}
    </div>
</div>

{# EXCEPTION FILE DELETE CONFIRMATION POPUP #}
{% if referer == 'log_manager_exception_files' %}
    <div id="deletePopup" class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center hidden">
        <div class="bg-neutral-890 rounded p-6 border border-neutral-800 w-full max-w-xl animate-popin">
            <h2 class="text-lg font-bold mb-4 text-white">Confirm Deletion</h2>
            <p class="text-white">Are you sure you want to delete this record?</p>
            <div class="flex justify-end mt-4 space-x-2">
                <button id="cancelDeleteButton" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500">Cancel</button>
                <button id="confirmDeleteButton" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-500">Confirm</button>
            </div>
        </div>
    </div>

    {# LOG DELETE CONFIRMATION POPUP FUNCTIONS #}
    {{ encore_entry_script_tags('exception-log-delete-confirmation-js') }}
{% endif %}
{% endblock %}
