{% extends 'common/layout.twig' %}

{# FILE SYSTEM BROWSER COMPONENT - VIEW FILE #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb">
    {# GET DIRECTORY PATH #}
    {% set parts = currentPath|split('/') %}
    {% set directoryPath = parts|slice(0, parts|length - 1)|join('/') %}
    
    {# BACK BUTTON #}
    <a href={{ path('app_file_system_browser', { 'path': directoryPath }) }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Filesystem</span>
</div>

{# FILESYSTEM BROWSER #}
<div class="component">
    {# FILESYSTEM PATH BREADCRUMB #}
    <div class="p-1 card-color border-b border-neutral-700 shadow flex items-center space-x-2">
        <span class="text-sm font-medium text-gray-300">Path:</span>
        <span class="text-sm text-gray-100">
            {% set parts = currentPath|split('/') %}
            <a href={{ path('app_file_system_browser', { 'path': '/' }) }} class="text-blue-500 hover:underline">/base</a>
            {% set accumulatedPath = '' %}
            {% for part in parts|slice(0, parts|length - 1) %}
                {% if part is not empty %}
                    {% set accumulatedPath = accumulatedPath ~ '/' ~ part %}
                    <span>/</span>
                    <a href={{ path('app_file_system_browser', { 'path': accumulatedPath }) }} class="text-blue-500 hover:underline">{{ part }}</a>
                {% endif %}
            {% endfor %}
        </span>
    </div>

    {# FILE CONTENT VIEW #}
    <div class="card-color shadow-md overflow-auto">
        {% set containerClass = mediaType == 'non-mediafile' ? 'flex justify-between items-center' : 'text-center' %}
        <div class={{ containerClass }}>
            <h3 class="text-xl font-semibold text-gray-100 {{ mediaType == 'non-mediafile' ? 'pl-2 pt-1' : '' }}">
                {{ currentPath|split('/')|last }}
            </h3>
        </div>
        {# RAW FILE CONTENT VIEW #}
        {% if mediaType == 'non-mediafile' %}
            <pre class="text-sm text-cyan card-color p-2 rounded mt-1 overflow-auto">{{ fileContent|e }}</pre>
        {% else %}
            {# IMAGE #}
            {% if mediaType starts with 'image/' %}
                <div class="flex justify-center items-center w-full h-auto mt-2 mb-4">
                    <img src={{ path('app_file_system_get_resource', { 'path': currentPath }) }}
                        alt={{ currentPath|e }}
                        class="max-w-full max-h-[500px] shadow-lg rounded-lg object-contain">
                </div>
            {# VIDEO #}
            {% elseif mediaType starts with 'video/' %}
                <div class="flex justify-center items-center w-full h-auto mt-2 mb-4">
                    <video controls class="max-w-full max-h-[500px] shadow-lg rounded-lg object-contain">
                        <source src={{ path('app_file_system_get_resource', { 'path': currentPath }) }} type={{ mediaType }}>
                        Your browser does not support the video tag.
                    </video>
                </div>
            {# AUDIO #}
            {% elseif mediaType starts with 'audio/' %}
                <audio controls class="w-full shadow-lg rounded-lg mt-2 mb-4">
                    <source src={{ path('app_file_system_get_resource', { 'path': currentPath }) }} type={{ mediaType }}>
                    Your browser does not support the audio tag.
                </audio>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
