{% extends 'common/layout.twig' %}

{# TODO LIST COMPONENT #}
{% block component %} 
<div class="users-manager flex flex-col h-[calc(100vh-30px)] overflow-hidden">
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation flex-none">
        <a href={{ path('app_dashboard') }} class="border border-neutral-500 font-bold px-1 text-white">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <span class="mr-1 text-white">Todo list</span>
    </div>

    {# TODO LIST #}
    <div class="flex-1 overflow-y-auto card-component ">
        <div class="bg-neutral-800 overflow-hidden h-full flex flex-col">
            <div class="flex-1 overflow-y-auto">
                <div class="divide-y divide-neutral-700">

                    {# TODO ITEM #}
                    {% for todo in todos %}
                        <div class="flex items-center justify-between p-2 px-4 hover:bg-neutral-700">
                            <div class="flex-grow">
                                <span class="text-white">{{ todo.todoText|e }}</span>
                            </div>
                            <div class="flex space-x-2">
                                <a href={{ path('app_todo_manager_close', {'id': todo.id}) }} class="text-green-500 text-xl hover:text-green-200 focus:outline-none mr-0.5">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="text-neutral-400 text-xl hover:text-white focus:outline-none">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# ADD TODO INPUT #}
    {{ form_start(createTodoForm) }}
        <div class="bg-neutral-800 p-4 flex-none border-t border-neutral-500">

            {# FORM CONSTRAINTS ERROR #}
            {% if createTodoForm.todo_text.vars.errors|length > 0 %}
                <div class="text-red-500 text-l">
                    {{ form_errors(createTodoForm.todo_text) }}
                </div>
            {% endif %}

            <div class="flex flex-col phn:flex-row">
                {# TODO TEXT INPUT #}
                {{ form_widget(createTodoForm.todo_text, {'attr': {'class': 'flex-1 bg-neutral-700 rounded-t-lg phn:rounded-l-lg phn:rounded-t-none px-4 py-2 focus:outline-none text-white', 'placeholder': 'Todo text'}}) }}

                {# ADD TODO BUTTON #}
                <button class="bg-green-700 hover:bg-green-600 text-white px-4 py-2 rounded-b-lg phn:rounded-r-lg phn:rounded-b-none mt-2 phn:mt-0 focus:outline-none">
                    Add
                </button>
            </div>
        </div>
    {{ form_end(createTodoForm) }}
</div>
{% endblock %}
