{% extends 'common/layout.twig' %}

{% block component %}
{# SUB-NAVIGATION #}
<div class="sub-navigation border-b border-neutral-800 text-white breadcrumb bg-gradient-to-b from-zinc-900/40 to-zinc-950/40 backdrop-blur supports-[backdrop-filter]:bg-zinc-900/50">
    <a href={{ path('app_manager_logs') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white hover:bg-neutral-700" title="Back to log browser">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Exception files</span>
</div>

{# LOG SELECT BOX #}
<div class="text-white p-6 component">
    <ul class="space-y-2">
        {% if exceptionFiles|length < 1 %}
            <h1 class="text-center mt-5 text-xl">No exception files found</h1>
        {% else %}
            <h3 class="text-2xl font-semibold text-white mb-4">Exception Files</h3>
            {% for exceptionFile in exceptionFiles %}
                <li class="flex justify-between items-center">
                    <a href={{ path('app_file_system_view', { path: exceptionFile.path, referer: 'log_manager_exception_files', service: exceptionFile.name }) }} class="block p-3 bg-neutral-800 hover:bg-blue-600 flex-grow">{{ exceptionFile.name }}</a>
                    <button class="delete-button block p-3 text-red-500 bg-neutral-800 ml-2 hover:text-red-700" data-file={{ exceptionFile.name }}>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>

{# DELETE CONFIRMATION POPUP #}
{% include "component/file-system/popup/exception-file-delete-confirmation-popup.twig" %}
{{ encore_entry_script_tags('exception-log-delete-confirmation-js') }}
{% endblock %}
