{% extends 'common/layout.twig' %}

{# SYSTEM LOGS VIEW #}
{% block component %}
<div class="bg-neutral-900">
    {# SUB NAVIGATION #}
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation">
        <a href={{ path(exceptionContent == 'non-selected' ? 'app_manager_logs' : 'app_manager_logs_exception_files') }} class="border border-gray-600 font-bold px-1 text-white">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        {% if logName == 'none' %}
            <span class="mr-1 text-white">Exception files</span>
        {% else %}
            <span class="mr-1 text-white">{{ logName|e }}</span>
        {% endif %}
    </div>
    {% if exceptionContent == 'non-selected' %}
        {# LOG SELECT BOX #}
        <div class="bg-neutral-900 text-white p-6">
            <ul class="space-y-2">
                {# EXCEPTION FILES LIST #}
                {% if exceptionFiles|length < 1 %}
                    <h1 class="text-center mt-5 text-xl">Not enough exception files</h1>
                {% else %}
                    <h3 class="text-2xl font-semibold text-white mb-4">Exception Files</h3>
                    {% for exceptionFile in exceptionFiles %}
                        <li class="flex justify-between items-center">
                            <a href={{ path('app_manager_logs_exception_files', { file: exceptionFile.name }) }} class="block p-3 bg-neutral-800 hover:bg-blue-600 flex-grow">{{ exceptionFile.name }}</a>
                            <a href={{ path('app_manager_logs_exception_delete', { file: exceptionFile.name }) }} class="block p-3 text-red-500 bg-neutral-800 ml-2 hover:text-red-700">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% else %}
        {# LOG OUTPUT BOX #}
        <div class="bg-neutral-900 text-white p-2">
            <div>
                {% if exceptionContent is empty %}
                    <h1 class="text-center mt-5 text-xl">Exception file is empty</h1>
                {% else %}
                    {# Split the log content into individual exception entries #}
                    {% set entries = exceptionContent|split('\n') %}
                    {% set groupedEntries = [] %}
                    {% set currentEntry = [] %}

                    {% for entry in entries %}
                        {% if entry starts with '[2024-' %}
                            {% if currentEntry is not empty %}
                                {% set groupedEntries = groupedEntries|merge([currentEntry|join('\n')]) %}
                            {% endif %}
                            {% set currentEntry = [entry] %}
                        {% else %}
                            {% set currentEntry = currentEntry|merge([entry]) %}
                        {% endif %}
                    {% endfor %}
                    
                    {% if currentEntry is not empty %}
                        {% set groupedEntries = groupedEntries|merge([currentEntry|join('\n')]) %}
                    {% endif %}

                    <div class="space-y-1">
                        {% for groupedEntry in groupedEntries %}
                            <div class="p-2 bg-neutral-800 rounded">
                                {% set entryParts = groupedEntry|split(' ', 2) %}
                                {% if entryParts|length > 1 %}
                                    <div class="text-yellow-200 font-mono break-words">
                                        <span class="font-bold">{{ entryParts[0] }}</span>
                                        <span class="text-white">{{ entryParts[1]|raw }}</span>
                                    </div>
                                {% else %}
                                    <div class="text-white break-words">{{ groupedEntry|raw }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
