{% extends 'common/layout.twig' %}

{# LOG MANAGER TABLE #}
{% block component %} 
{# SUB-NAVIGATION #}
<div class="users-manager">
    <div class="flex items-center bg-neutral-890 border-b border-neutral-700 sub-navigation whitespace-nowrap breadcrumb">
        {# BACK BUTTON #}
        <a href={{ path('app_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
       
        {# LINK TO UNFILTERED LOGS #}
        <a href={{ path('app_manager_database_table_browser', {'database': mainDatabase, 'table': logsTableName}) }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Go to unsorted logs">
            <i class="fa fa-database" aria-hidden="true"></i>
        </a>

        {# SET ALL LOGS READED #}
        <a href={{ path('app_manager_logs_set_readed') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="set all logs readed">
            <i class="fa fa-check" aria-hidden="true"></i>
        </a>

        {# SYSTEM LOG READER #}
        <a href={{ path('app_manager_logs_system') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Server logs">
            <i class="fas fa-server"></i>
        </a>

        {# WEB EXCEPTION LOG #}
        <a href={{ path('app_manager_logs_exception_files') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="App exception files">
            <i class="fa fa-bomb"></i>
        </a>

        {# ANTI-LOG SETTINGS LINK #}
        {% if antiLogEnabled %}
            <a href={{ path('app_anti_log_enable', {'state': 'disable'}) }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Disable anti-log">
                <i class="fa fa-toggle-on" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href={{ path('app_anti_log_enable', {'state': 'enable'}) }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Enable anti-log">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
            </a>
        {% endif %}

        {# PAGE SUBTITLE #}
        <span class="mr-1 text-white phone-none">Logs: ({{ logsCount|e }})</span>

        {# FILTER FORM #}
        <span class="mr-1 phone-only"></span>
        <div>
            <form method="get" action={{ path('app_manager_logs') }}>
                <select name="filter" onchange="this.form.submit()" class="bg-neutral-800 text-white border border-neutral-600 rounded">
                    <option value="UNREADED">UNREADED</option>
                    <option value="READED" {% if filter == 'READED' %}selected{% endif %}>READED</option>
                    <option value="all" {% if filter == 'all' %}selected{% endif %}>ALL</option>
                </select>
            </form>
        </div>
    </div>

    {# CHECK IF LOGS NOT EMPTY #}
    {% if logsCount < 1 %}
        <p class="flex items-center justify-center mt-20 mb-20 text-2xl text-white font-bold">No relative logs were found</p>
    {% else %}
        {# LOG VIEW TABLE #}
        <div class="bg-neutral-880 overflow-x-auto component">
            <table class="min-w-full divide-y divide-white whitespace-nowrap">
                <thead>
                    <tr class="border-b border-neutral-600">
                        <th class="text-left text-white p-1 py-2">#</th>
                        <th class="text-left text-white p-1 py-2">Name</th>
                        <th class="text-left text-white p-1 py-2">Message</th>
                        <th class="text-left text-white p-1 py-2">Time</th>
                        <th class="text-left text-white p-1 py-2">Browser</th>
                        <th class="text-left text-white p-3 py-2">OS</th>
                        <th class="text-left text-white p-1 py-2">IP Address</th>
                        <th class="text-left text-white p-1 py-2">User</th>
                        {% if filter == 'UNREADED' %}
                            <th class="text-left text-white p-1 py-2"><i class="fa fa-check" aria-hidden="true"></th>
                        {% endif %}
                        </tr>
                </thead>
                <tbody class="divide-y divide-white font-medium">
                    {# LOG ROW #}
                    {% for row in logs %}

                        {# SET LOG LINE COLOR #}
                        {% if row.level == 1 %} {# CRITICAL #}
                            {% set color = 'red-400' %}
                        {% elseif row.level == 2 %} {# WARNING #}
                            {% set color = 'yellow-400' %}
                        {% elseif row.level == 3 %} {# NOTICE #}
                            {% set color = 'blue-400' %}
                        {% elseif row.level == 4 %} {# INFO #}
                            {% set color = 'green-400' %}
                        {% else %}
                            {% set color = 'white' %}
                        {% endif %}

                        {# LOG LINE #}
                        <tr class="hover:bg-neutral-800 border-b border-neutral-600 text-lg text-{{ color }}">
                            {# LOG DATA #}
                            <td class="p-1 border-b border-neutral-600">{{ row.id|e }}</td>
                            <td class="p-1 border-b border-neutral-600">{{ row.name|e }}</td>
                            <td class="p-1 border-b border-neutral-600">{{ row.message|e|linkify }}</td>
                            <td class="p-1 border-b border-neutral-600">{{ row.time|date('Y-m-d H:i:s')|e }}</td>
                            <td class="p-1 border-b border-neutral-600">{{ visitorInfoUtil.getBrowserShortify(row.userAgent)|e }}</td>
                            <td class="p-1 border-b border-neutral-600">{{ visitorInfoUtil.getOs(row.userAgent)|e }}</td>
                            <td class="p-1 border-b border-neutral-600">{{ row.ipAddress|e }}</td>
                            <td class="p-1 border-b border-neutral-600">
                                {% if userManager.getUsernameById(row.userId) != null or authManager.isUsernameBlocked(row.name) %}
                                    <a href={{ path('app_manager_users_profile', {'id': row.userId}) }} class="underline profile-link">{{ userManager.getUsernameById(row.userId) ?? 'system' }}</a>
                                {% else %}
                                    <span class="profile-link cursor-default">{{ userManager.getUsernameById(row.userId) ?? 'system' }}</span>
                                {% endif %}
                            </td>

                            {# SET LOG READED LINK #}
                            {% if filter == 'UNREADED' %}
                                <td class="p-1 border-b border-neutral-600">
                                    <a href={{ path('app_manager_logs_set_readed', {'id': row.id, 'page': currentPage, 'filter': filter, 'user_id': userId }) }} class="delete-button"><i class="fa fa-check" aria-hidden="true"></i></a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    {% endif %}

    {# PAGINATION SYSTEM #}
    {% if (logsCount > limitPerPage) %}
        <div class="mt-2 flex justify-center mb-2">
            <div class="border border-neutral-600 rounded overflow-hidden">
                <ul class="flex">
                    {% set totalPages = (logsCount / limitPerPage)|round(0, 'ceil') %}
                    {% set previousPage = currentPage > 1 ? currentPage - 1 : 1 %}
                    {% set nextPage = currentPage < totalPages ? currentPage + 1 : totalPages %}
                    {% set startPage = max(currentPage - 2, 1) %}
                    {% set endPage = min(currentPage + 2, totalPages) %}
                    {% if currentPage > 1 %}
                        <li>
                            <a href={{ path('app_manager_logs', {'page': previousPage, 'filter': filter, 'user_id': userId}) }} class="block px-4 py-2 text-white hover:bg-neutral-800">Previous</a>
                        </li>
                    {% else %}
                        <li>
                            <span class="block px-4 py-2 text-white bg-neutral-800 cursor-not-allowed opacity-50">Previous</span>
                        </li>
                    {% endif %}
                    {% for page in startPage..endPage %}
                        <li>
                            <a href={{ path('app_manager_logs', {'page': page, 'filter': filter, 'user_id': userId}) }} class="block px-4 py-2 text-white {% if page == currentPage %}bg-neutral-800{% else %}hover:bg-neutral-800{% endif %}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if currentPage < totalPages %}
                        <li>
                            <a href={{ path('app_manager_logs', {'page': nextPage, 'filter': filter, 'user_id': userId}) }} class="block px-4 py-2 text-white hover:bg-neutral-800">Next</a>
                        </li>
                    {% else %}
                        <li>
                            <span class="block px-4 py-2 text-white bg-neutral-800 cursor-not-allowed opacity-50">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div> 
{% endblock %}
