{% extends 'common/layout.twig' %}

{# SYSTEM LOGS VIEW #}
{% block component %}
<div class="bg-neutral-900">
    {# SUB NAVIGATION #}
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation">
        <a href={{ path(logContent == 'non-selected' ? 'app_manager_logs' : 'app_manager_logs_system') }} class="border border-gray-600 font-bold px-1 text-white">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        {% if logFile == 'none' %}
            <span class="mr-1 text-white">System logs</span>
        {% else %}
            <span class="mr-1 text-white">{{ logFile|e }}</span>
        {% endif %}
    </div>

    {% if logContent == 'non-selected' %}
        {# LOG SELECT BOX #}
        <div class="bg-neutral-900 text-white p-6">
            <h3 class="text-2xl font-semibold text-white mb-4">Log Files</h3>
            <ul class="space-y-2">
                {% for logFile in logFiles %}
                    <li>
                        <a href={{ path('app_manager_logs_system', { file: logFile }) }} class="block p-3 bg-neutral-800 hover:bg-blue-600">{{ logFile }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        {# LOG OUTPUT BOX #}
        <div class="bg-neutral-900 text-white p-2">
            <div>
                {% if logContent == null %}
                    <h1 class="text-center mt-5 text-xl">Log file is empty</h1>
                {% else %}
                    <pre class="whitespace-pre-wrap break-words p-2 bg-neutral-800 rounded">{{ logContent|e }}</pre>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
