{% extends 'common/layout.twig' %}

{# USER PROFILE VIEWER COMPONENT #}
{% block component %} 
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb">
    <a href={{ path('app_manager_users') }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2" title="Back to users manager">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">User info</span>
</div>

{# PROFILE COMPONENT #}
<div class="mx-auto bg-white card-color shadow-lg overflow-hidden border border-neutral-700 md:mt-5 md:max-w-md users-manager phone-max-h rounded-lg">
    <div class="text-white text-center py-3 border-b border-neutral-700">
        {% if userRepository.getProfilePic() == 'default_pic' %}
            <img class="w-24 h-24 rounded-full mx-auto" src={{ asset('/assets/images/default-profile.jpg') }} alt="User Profile Picture">
        {% else %}
            <img class="w-24 h-24 rounded-full mx-auto" src="data:image/jpeg;base64,{{ userRepository.getProfilePic()|e }}" alt="User Profile Picture">
        {% endif %}
        <h1 class="text-4xl font-semibold mt-2">
            {{ userRepository.getUsername()|e }} 
        </h1>

        {% if isAdmin %}
            <p class="text-sm text-gray-400 dark:text-red-500 font-bold">{{ userRepository.getRole()|e }}</p>
        {% else %}
            <p class="text-sm text-gray-400 dark:text-gray-300 font-bold">{{ userRepository.getRole()|e }}</p>
        {% endif %}

        {# USER ONLINE STATUS LINE #}
        <p class="text-xs font-semibold">
            {% set isOnline = false %}
            {% for onlineUser in onlineList %}
                {% if userRepository.getId() == onlineUser.id %}
                    {% set isOnline = true %}
                {% endif %}
            {% endfor %}
            {% if isOnline %}
                (<span class="text-green-400">online</span>)
            {% else %}
                (<span class="text-red-400">offline</span>)
            {% endif %}
        </p>
    </div>
    <div class="p-6 bg-neutral-800">
        <div class="flex items-center mt-4">
            <div class="text-gray-600 dark:text-gray-200">
                <i class="fas fa-list mr-2"></i>
                <span>logs <a href={{ path('app_manager_logs', {'user_id': userRepository.getId, 'filter': 'all'}) }} class="profile-link text-blue-400">here</a></span>
            </div>
        </div>
        <div class="flex items-center mt-4">
            <div class="text-gray-600 dark:text-gray-200">
                <i class="fas fa-address-book mr-2"></i>
                <span>{{ userRepository.getIpAddress()|e }}</span>
            </div>
        </div>
        <div class="flex items-center mt-4">
            <div class="text-gray-600 dark:text-gray-200">
                <i class="fas fa-window-maximize mr-2"></i>
                <span>{{ visitorInfoUtil.getBrowserShortify(userRepository.getUserAgent())|e }}</span>
            </div>
        </div>
        <div class="flex items-center mt-4">
            <div class="text-gray-600 dark:text-gray-200">
                <i class="fas fa-tv mr-2"></i>
                <span>{{ visitorInfoUtil.getOs(userRepository.getUserAgent())|e }}</span>
            </div>
        </div>
        <div class="mt-4 text-gray-600 dark:text-gray-200">
            <i class="fas fa-registered mr-2"></i>
            <span>Registered: {{ userRepository.getRegisterTime()|date('Y-m-d H:i:s')|e }}</span>
        </div>
        <div class="mt-2 text-gray-600 dark:text-gray-200">
            <i class="fas fa-clock mr-2"></i>
            <span>Last Login: {{ userRepository.getLastLoginTime()|date('Y-m-d H:i:s')|e }}</span>
        </div>
        <div class="mt-2 text-gray-600 dark:text-gray-200">
            <i class="fas fa-ban mr-2"></i>
            {% if banManager.isUserBanned(userRepository.getId()) %}
                <span><span class="text-red-400">banned</span> for: {{ banManager.getBanReason(userRepository.getId()) }}</span>
            {% else %}
                <span class="text-green-400">non-banned</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
