<aside id="sidebar" class="text-white md:active border-r border-neutral-700 flex flex-col justify-between h-full">
    <div>
        {# USER INFO #}
        <div class="flex flex-col items-center mb-0 mt-3">
            {# PROFILE IMAGE #}
            <div class="profile-image mb-1 border border-neutral-850 rounded-md">
                {% if getUserData().getProfilePic == 'default_pic' %}
                    <img class="rounded shadow-md" src={{ asset('/assets/images/default-profile.jpg') }} alt="profile picture">
                {% else %}
                    <img class="rounded shadow-md" src="data:image/jpeg;base64,{{ getUserData().getProfilePic|e }}" alt="profile picture">
                {% endif %}
            </div>
            {# USERNAME #}
            <div class="username font-bold text-xl">{{ getUserData().username|e }}</div>
            {# USER ROLE #}
            <div class="role text-base">
                {% if isAdmin() %}
                    <span class="text-red-400">{{ getUserData().role|lower|e }}</span>
                {% else %}
                    <span class="text-green-500">{{ getUserData().role|lower|e }}</span>
                {% endif %}
            </div>
        </div>

        {# MENU LINKS #}
        <ul class="py-0 text-base text-gray-200">
            {# MAIN-SITE LINK #}
            {% set current_url = app.request.getSchemeAndHttpHost() %}
            {% if current_url matches '/admin/' %}
                {% set new_url = current_url|replace({'admin.': ''}) %}
                <li>
                    <a href="{{ new_url }}/admin" target="_blank" class="flex items-center border-b border-neutral-700 block px-3 py-1">
                        <i class="fas fa-globe mrc-2 ml-05"></i>&nbsp;
                        <span>Main site</span>
                    </a>
                </li>
            {% endif %}

            {# DASHBOARD LINK #}
            <li>
                <a href={{ path('app_dashboard') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-desktop mr-1.5"></i>&nbsp;
                    <span>Dashboard</span>
                </a>
            </li>
            
            {# LOGS-MANAGER LINK #}
            <li>
                <a href={{ path('app_manager_logs') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-list mr-2"></i>&nbsp;
                    <span>Logs</span>
                </a>
            </li>

            {# DATABASE-MANAGER LINK #}
            <li>
                <a href={{ path('app_manager_database') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-database mrc-3"></i>&nbsp;
                    <span>Database</span>
                </a>
            </li>

            {# METRICS DASHBOARD LINK #}
            <li>
                <a href={{ path('app_metrics_dashboard') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-chart-line mr-2"></i>&nbsp;
                    <span>Metrics</span>
                </a>
            </li>

            {# MONITORING-MANAGER LINK #}
            <li>
                <a href={{ path('app_manager_monitoring') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fa fa-briefcase-medical mr-2"></i>&nbsp;
                    <span>Monitoring</span>
                </a>
            </li>

            {# DIAGNOSTICS LINK #}
            <li>
                <a href={{ path('app_diagnostic') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-check-double mr-2"></i>&nbsp;
                    <span>Diagnostics</span>
                </a>
            </li>

            {# FILESYSTEM BROWSER LINK #}
            <li>
                <a href={{ path('app_file_system_browser') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-file-export mr-1.5"></i>&nbsp;
                    <span>Filesystem</span>
                </a>
            </li>

            {# TERMINAL LINK #}
            <li>
                <a href={{ path('app_terminal') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-terminal mr-1.5"></i>&nbsp;
                    <span>Terminal</span>
                </a>
            </li>

            {# TODO-MANAGER LINK #}
            <li>
                <a href={{ path('app_todo_manager') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-tasks mr-2"></i>&nbsp;
                    <span>Todos ({{ getTodosCount() }})</span>
                </a>
            </li>

            {# USERS-MANAGER LINK #}
            <li>
                <a href={{ path('app_manager_users') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-users mr-1"></i>&nbsp;
                    <span>Users</span>
                </a>
            </li>

            {# ACCOUNT-SETTINGS LINK #}
            <li>
                <a href={{ path('app_account_settings_table') }} class="flex items-center border-b border-neutral-700 block px-3 py-1">
                    <i class="fas fa-user-cog mr-1"></i>&nbsp;
                    <span>Account settings</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
